$font-size-root: 10px;
$font-size-base: 1.8rem;
$font-size-lead: calc(2rem + 0.1vw);
$font-size-sm: 1.6rem;
$lead-font-weight: inherit;
$primary-color: rgb(0, 69, 87); //#004557;#01496d;//#1C4D65;
$secondary-color: #f06d53; //#d35137;//e97435;
$tertiary-color: #c4f0f7;
$text-color: lighten($primary-color, 7%);
$hover-color: #fe7d5e;
$alert-color: #850017;
$table-color: #2fb2cb;
$grey: #888;
$light-grey: #ddd;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
$logo-font: 'Montserrat Alternates', 'Montserrat', 'Helvetica', sans-serif;

@import "../scss/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.min.css";
@import "../scss/bootstrap-utilities.scss";
@import "../scss/_type.scss";
@import "../scss/_buttons.scss";
@import "../scss/_modal.scss";
@import "../scss/_close.scss";
@import "../scss/_tables.scss";
@import "../scss/_accordion.scss";
@import "../scss/_transitions.scss";
@import "menu.css";

// Mixins
@mixin fill-color($bg-color: $secondary-color, $color: white) {
  background-color: $bg-color;
  border-color: $bg-color;
  color: $color;
}

@mixin underline-link($color: $text-color) {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: $color;
}

@mixin xy-center() {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin img-fluid() {
  max-width: 100%;
  height: auto;
}

// Sitewide stylings //
html {
  height: 100%;
  scroll-padding-top: 60px;
}

body {
  height: 100%;
  font-family: $body-font;
  color: $text-color;
  font-size: $font-size-base;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  --bs-body-line-height: 1.6;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 2rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.2;

  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: calc(2.3rem + 1vw);
  margin-bottom: 2rem;
  font-weight: bold;
}

h2,
.h2 {
  font-size: calc(2.2rem + 0.5vw);
}

h3,
.h3 {
  font-size: calc(2rem + 0.5vw);
}

h4,
.h4 {
  font-size: calc(1.8rem + 0.25vw);
}

h5,
.h5 {
  font-size: calc(1.6rem + 0.25vw);
}

h6,
.h6 {
  font-size: calc(1.4rem + 0.25vw);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

input,
textarea {
  font-size: var(--bs-btn-font-size);
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 100%;
  outline: none;
  color: $primary-color;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid $secondary-color;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;

  +label {
    display: block;
    position: relative;
    line-height: 2rem;
    padding-left: 3rem;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      border-radius: 3px;
    }
  }

  &:checked {
    +label::before {
      background-color: $primary-color;
    }

    +label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      height: 8px;
      width: 12px;
      transform: rotate(-45deg);
    }
  }

  &:focus+label::before {
    box-shadow: 0 0px 8px $primary-color;
  }
}


input[type='radio'] {
  opacity: 0;
  width: 0;
  vertical-align: top;

  +label {
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: -2.2rem;
      /* This will be adjusted */
      top: 0.4rem;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -1.7rem;
      top: 0.9rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }

  &:checked {
    +label::after {
      background: $primary-color;
    }
  }

  &:focus {
    +label::before {
      box-shadow: 0 0px 4px $primary-color;
    }
  }
}

.radio-wrapper {
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.radio-set-label {
  display: inline-block;
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

select {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.6rem;
  height: 4rem;
  margin: 0.5rem 1rem 0 0;
  box-sizing: border-box;
  outline-color: $secondary-color;

  &.select-header {
    display: inline-block;
    font-size: 1.8rem;
  }
}

input[type="color"] {
  width: 3rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  padding: 0;
  font-size: 1.6rem;
}

ol,
ul {
  margin-left: 2.5rem;

  li::marker {
    font-weight: 600;
  }
}

.semibold {
  font-weight: 600 !important;
}

a {
  @include underline-link();
  display: inline-block;
  color: $text-color;

  &.sec {
    color: $secondary-color;
  }

  &:hover {
    color: $text-color;
    text-decoration-color: $secondary-color;
    font-weight: 600;
  }
}

.no-decoration a {
  text-decoration: none;

  &:hover {
    @include underline-link($secondary-color);
  }
}

a.btn:hover {
  text-decoration: none;
}

a:before {
  display: block;
  font-weight: 600;
  content: attr(data-text);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

button,
.btn,
input[type="submit"] {
  @include fill-color();
  --bs-btn-hover-bg: #{$hover-color};
  --bs-btn-hover-color: white;
  --bs-btn-font-size: #{$font-size-base};
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-width: 2px;
  transition: 0.3s;
  font-weight: 600;

  &:hover {
    @include fill-color(saturate($secondary-color, 20%));
    filter: brightness(1.3);
  }

  &.sec {
    @include fill-color($primary-color);
  }

  &.ter {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    color: $primary-color;
    transition: 0.3s;

    &:hover {
      @include fill-color(darken($tertiary-color, 40%));
      filter: brightness(1);
    }
  }

  &.clr {
    color: $primary-color;
    border-color: $primary-color;
    background-color: transparent;
    font-weight: 400;
    width: fit-content;

    &:hover {
      @include fill-color($primary-color);
      filter: brightness(1);
    }
  }

  &:disabled {
    background-color: #999999;
    border: 0;
    color: white;
    cursor: default;

    &:hover {
      background-color: #999999;
      border: 0;
    }
  }
}

.lead {
  font-size: $font-size-lead;
}

.sm {
  font-size: $font-size-sm;
}

a.btn {
  display: inline-block;
}

.color-primary {
  color: $primary-color;
}
.color-secondary {
  color: $secondary-color;
}

.white {
  color: white;
}

.grey {
  color: $grey;
}

.btn.sm {
  font-size: $font-size-sm;
  font-weight: 400;
  border-width: 1px;
  padding: 0.5rem 2rem;
}

.btn.cta {
  margin-top: calc(2rem + 1vw);
  font-size: $font-size-lead;
}

.row:hover>div>.btn.edit {
  display: inline-block;
}

.btn.alert {
  color: $alert-color;
  border-color: $alert-color;
  background-color: transparent;
}

.btn.alert:hover {
  @include fill-color($alert-color);
}

.menu-link:hover {
  @include fill-color();
}

.img-fluid {
  @include img-fluid();
}

#home-alert {
  width: 100%;
}

div.alert {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #004085;
  background-color: #cce5ff;
  border-color: #cce5ff;

  &.error {
    color: $alert-color;
    background-color: #ffd4db;
    border-color: #ffd4db;
  }

  a {
    color: $text-color;
    @include underline-link();
    white-space: nowrap;
    font-weight: 600;

    &:hover {
      text-decoration-color: $secondary-color;
    }
  }
}

.section-margin {
  padding-top: calc(2rem + 3vw);
}

.content {
  flex: 1 0 auto;
}

.modal {
  padding: 0.5rem;
}

.modal-content {
  border: 0;
}

#contact {
  position: relative;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  bottom: 0;
  padding: 2rem 0;
  background-color: $primary-color;
  color: white;
  margin-top: 7rem;

  .sm {
    font-size: 1.3rem;
  }

  a {
    font-weight: 400;

    &:hover {
      @include underline-link($secondary-color);
    }
  }
}

#ntpa-logo {
  width: 200px;
  margin: auto;
}

// Nav //

#nav-img {
  height: 36px;
  margin: 12px 0;
  max-width: 100%;
}

#menu-btn {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0 17px auto;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

#menu-btn:hover {
  @include underline-link($secondary-color);
}

#menu-icon {
  height: 26px;
  padding-left: 15px;
}

.drawer__wrapper {
  background-color: $primary-color;
  box-shadow: 0 2px 6px #0000005c;
}

.drawer__header {
  padding: 0 2rem;
}

.drawer__back {
  border: solid $light-grey;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
}

.drawer__content a {
  display: inline;
}

.menu-close {
  color: white;
  font-size: 4rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $secondary-color;
  }
}

.menu-link {
  height: 60px;
  border-bottom: 1px solid $light-grey;
  color: white;
  transition: 0.3s;
  font-weight: 400;
}

.menu-link p {
  padding: 1.7rem;
  cursor: pointer;
}

.nav-gap {
  height: 60px;
  width: 100%;
}

#free-trial {
  overflow: unset;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $primary-color;
  z-index: 100;
}

// Home page

// X-large backgrounds //

// #home photo by Ekaterina Bolovtsova on Pexels
// https://www.pexels.com/@ekaterina-bolovtsova

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-xl.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// #free-trial photo by Julia M Cameron on Pexels
// https://www.pexels.com/@julia-m-cameron

#free-trial {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-xl.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Med-Large backgrounds //
@media screen and (max-width: 1200px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-lg.webp);
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-lg.webp);
  }
}

// Mobile backgrounds //
@media screen and (max-width: 575px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student.jpg);
    background-attachment: scroll;
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2.jpg);
    background-attachment: scroll;
  }
}

#home-logo {
  position: relative;
  display: block;
  margin: 0 auto 3rem;
  height: calc(80px + 3vw);
}

#home-title {
  font-family: $logo-font;
  font-size: calc(1.8rem + 3vw);
  font-weight: 400;
}

#home-tagline {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: calc(1.75rem + 1vw);
  font-weight: 700;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;

  a {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: calc(3rem + 2vw) 0;
    text-transform: capitalize;
    text-decoration: none;

    &:focus,
    &:hover {
      font-weight: 600;
      @include underline-link($secondary-color);
    }
  }

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
}

.home-section {
  min-height: 100vh;
  overflow: auto;
  padding-top: calc(3rem + 2vw);
}

.home-section.end {
  min-height: calc(100vh - 27rem);
}

.calendly-overlay .calendly-popup {
  max-height: 1000px;
}

.inverse {
  color: white;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;

      h4 {
        color: white;
      }
    }
  }

  .btn.clr {
    background-color: transparent;
    border-color: white;
  }
}

.home-next {
  display: table;
  margin: calc(2rem + 1vw) auto 3rem;
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      color: $primary-color;

      h4 {
        font-weight: 600;
      }

      svg {
        color: $secondary-color;
      }
    }
  }
}

.bi-chevron-down {
  font-size: 1rem;
}

.usp {
  margin-top: calc(2rem + 2vw);
}

.usp-icon {
  width: 7rem;
  height: 7rem;
  fill: #ffa68c;
  margin-bottom: 2rem;
}

.role-radio {
  display: inline-block;
  min-width: 7rem;
}

// About & School pages //

.profile-pic,
.org-logo {
  @include img-fluid();
  display: block;

  &.wide {
    width: 250px;
    margin-bottom: 0;
  }
}

.org-logo {
  @include xy-center();
  width: 200px;
  max-width: 100%;
}

.profile-pic-container {
  border-radius: 100%;
  overflow: hidden;
  margin: 1rem auto 2rem;
  width: 155px;
}

.profile-pic {
  border-radius: 100%;
  transition: all 0.4s ease-in-out;

  &.dim {
    filter: brightness(0.9);
  }
}

.team-member a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    font-weight: inherit;

    .profile-pic {
      transform: scale(1.03);
      filter: brightness(1);
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-container img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 10rem;
}

.plus-icon {
  width: calc(2.8rem + 1vw);
  max-width: 100%;
  margin: 0 calc(4vw);
}

.logo-container:has(#opt-partner-logo) {
  max-width:45%;
}

// Mission page //

#free-resources-row {
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  #sponsor-container div {
    display: flex;
    align-items: center;
    min-height: 10rem;
    padding: 2rem 5rem;
  }
}

// Reviews page //

.review-img {
  height: 100px;
  margin-bottom: 2rem;
}

// Users pages //

.student-list,
.user-list {
  transition: height 0.2s ease-out;
  overflow: hidden;
}

.accordion-button {
  padding: 1.5rem;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
  background-color: #8b8787;
  color: white;
  margin-bottom: 0rem;

  &::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  }
}

.accordion-item {
  color: $text-color;
}

div.row.student>* {
  overflow: hidden;
}

.table-container {
  overflow: overlay;
  border: 1px solid $table-color;
  border-radius: 5px;
}

.table> :not(caption)>*>* {
  padding: 1rem;
}

thead {
  background-color: $table-color;
  color: white;
}

th,
td {
  white-space: nowrap;
  width: 1%;
}

td {
  color: lighten($primary-color, 3%);
}

.test-date {
  width: 177px;
}

// Hidden fields to be revealed //

.hidden-block {
  height: 0px;
  transition: height 0.5s ease-out;
  overflow: hidden;
}

.slide-toggle {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

// Score report //

a.info-icon {
  fill: $secondary-color;
  text-decoration: none;

  svg {
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  span {
    color: $secondary-color;
    font-size: $font-size-sm;
  }

  &:hover {
    @include underline-link($secondary-color);

    span {
    // display: inline-block;
    // text-decoration: none;
      color: $text-color;
      // font-weight: 600;
    }
  }
}

.modal-header {
  padding: 1rem;
}

.modal-dialog {
  max-width: 100rem;
}

.btn-close {
  --bs-btn-close-bg: none;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  background: none;

  &:hover {
    color: $secondary-color;
  }
}

.delete-link {
  color: $alert-color;
  text-decoration: none;
  font-weight: 600;
  display: none;
}

h3:hover .delete-link {
  display: inline-block;
  color: $alert-color;
  font-size: 3rem;
  line-height: 0;

  &:hover {
    color: lighten($alert-color, 10%);
  }
}


.next-modal-btn {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
  // z-index: 1051;
  width: 10.5rem;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg circle {
    fill: $secondary-color;
    transition: fill 0.3s;
  }

  &:hover {
    p {
      font-weight: 600;
    }

    svg circle {
      fill: $hover-color;
    }
  }
}

#ss-icon {
  top: 1.25rem;
  left: 34.25rem;

  span {
    position: absolute;
    left: 3rem;
  }
}

#service-email:hover svg {
  fill: $secondary-color;
}


// Spinner //
.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.loading-message {
  position: absolute;
  top: calc(40% + 60px);
  left: 50%;
  color: white;
  font-weight: 600;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.loader {
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.loading {
  border: 2px solid #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #1ecd97;
  border-left-color: #1ecd97;
  animation: spin 1s infinite ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// .drop-area {
//   border: 2px dashed $primary-color;
//   border-radius: 10px;
//   padding: 2rem;
//   text-align: center;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
// }

// .drop-area.dragover {
//   background-color: lighten($primary-color, 40%);
// }

// .drop-area p {
//   margin: 0;
//   font-size: $font-size-base;
//   color: $primary-color;
// }

// .drop-area button {
//   margin-top: 1rem;
// }

// Altcha
:root {
  --altcha-border-width: 1px;
  --altcha-border-radius: 3px;
  --altcha-color-base: #ffffff;
  --altcha-color-border: #a0a0a0;
  --altcha-color-text: currentColor;
  --altcha-color-border-focus: currentColor;
  --altcha-color-error-text: #f23939;
  --altcha-color-footer-bg: #f4f4f4;
  --altcha-max-width: 433px;
}

#altcha_checkbox {
  opacity: 1;
}

.altcha-label {
  text-wrap: nowrap;
  margin-right: 2rem;
  font-size: 1.6rem
}