{% extends 'email/_email-base.html' %}

{% block content %}
  <p><strong>{{ student.first_name}} {{ student.last_name }}:</strong> {{ student.email }}, {{ student.phone }}</p>
  <p><strong>{{ parent.first_name}} {{ parent.last_name }}:</strong> {{ parent.email }}, {{ parent.phone }}</p>
  {% if parent2 %}
    <p><strong>{{ parent2.first_name}} {{ parent2.last_name }}:</strong> {{ parent2.email }}, {{ parent2.phone }}</p>
  {% endif %}

  {% if interested_tests %}
    <h3>Test Dates</h3>
    <ul>
      {% for test in interested_tests %}
        <li>
          {{ test.test.upper() }} on {{ test.date.strftime('%B %d, %Y') }}
          {% if test.is_registered %}
            <strong>&#10003;</strong>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No test dates selected.</p>
  {% endif %}
{% endblock content %}

