{% extends '_email-base.html' %}

{% block content %}
  <p>
    This is an automated reminder that a {{ event_type }} is scheduled for {{ student.first_name }}
    with {{ tutor.first_name }} {{ tutor.last_name }} on {{ start_date }}
    from {{ start_time }} to {{ end_time }} {{ timezone }}.
  </p>
  <p>
    Location:
    {% if "http" in location %}
      <a href="{{ location }}">{{ location }}</a>
    {% else %}
      {{ location }}
    {% endif %}
  </p>
  <p>
    You are welcome to reply to this email with any questions. Please provide at least
    24 hours notice when making schedule changes in order to avoid being charged for
    the session. Note that you will not receive a reminder email for sessions scheduled
    less than 2 days in advance. Thank you!
  </p>
  <p>
    <br><strong>{{ quote_header }}</strong><br>
    "{{ message }}"
    <br/>&ndash; {{ author }}
  </p>
{% endblock content %}