{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    Please find the {{ score_data['test_display_name'] }} score report for {{ score_data['student_name'] }}
    attached.
  </p>
  {% if score_data['answer_key_mismatches'] %}
    <p>
      It appears that the College Board has changed the answer key for practice {{
      score_data['test_display_name'] }}. The following questions may display incorrectly
      on your score report:
    </p>
      <table>
        <thead>
          <tr>
            <th style="text-align: left; padding: 0 5px">Question #</th>
            <th style="padding: 0 10px">Expected correct answer</th>
            <th>New correct answer</th>
          </tr>
        </thead>
        <tbody style="text-align: center;">
          {% for obj in score_data['answer_key_mismatches'] %}
            <tr>
              <td style="text-align: left">
                {% if obj['sub'] == 'rw_modules' %}
                  R&W module {{ obj['mod'] }}{% if score_data['is_rw_hard'] %}H{% else %}E{% endif %}
                {% else %}
                  Math module {{ obj['mod'] }}{% if score_data['is_m_hard'] %}H{% else %}E{% endif %}
                {% endif %}
                #{{ obj['q'] }}
              </td>
              <td>{{ obj['previous_key'] }}</td>
              <td>{{ obj['new_key'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <p>
      Note that the scores displayed on the report are not affected by errors in the
      answer key.
    </p>
  {% endif %}

  {% if score_data['student_ss_id'] %}
    <p>
      Your{% if rw_questions_answered < 5 %} Math {% elif m_questions_answered < 5 %}
      Reading & Writing {% else %} test {% endif %}answers should have been added to the
      <a href="https://docs.google.com/spreadsheets/d/{{ score_data['student_ss_id']}}/edit?gid={{ score_data['test_sheet_id'] }}"
      target="_blank">{{score_data['test_code'].upper() }} tab of your answer spreadsheet</a>.
      If not, please reply here for assistance. This tool is in beta, so please let us
      know if you find any mistakes or have any questions or suggestions. Thank you for
      trying it out!
    </p>
  {% else %}
    <p>
      This tool is in beta, so please reply to this email if you find any mistakes or have
      any questions or suggestions. Thank you for trying it out!
    </p>
  {% endif %}
{% endblock content %}

