{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    Hi {{ parent.first_name }}, we've received your request for your student's practice
    test score analysis. We aim to send it to you within 48 hours. Feel free to reply to
    this email with any questions in the meantime. Thank you!
  </p>
  <p>
    Open Path Tutoring
  </p>

  <p>
    <br>
    Student name: {{ student.first_name }} {{ student.last_name }}<br>
    Graduation year: {{ student.grad_year }}<br>
    In partnership with {{ organization_dict.name }}
  </p>

  <p>
    <br>
    "We don't have to do all of it alone. We were never meant to."<br>
    &ndash; Brene Brown
  </p>
{% endblock content %}

