{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    Please find the {{ score_data['test_display_name'] }} score report for
    {{ score_data['student_name'] }} attached.
  </p>

  {% if score_data['missing_data'] %}
    <p>
      It appears that data for the following questions was missing from the Score Details PDF:
    </p>
    <ul>
      {% for item in score_data['missing_data'] %}
        <li>{% if item['sub'] == 'rw_modules' %}Reading & Writing{% else %}Math{% endif %} Module {{ item['mod'] }} Question {{ item['q'] }}</li>
      {% endfor %}
    </ul>
    <p>
      Answers for these questions will appear as "not found" on the score report. The
      subject and overall scores are still accurate, however.
    </p>
  {% endif %}

  {% if score_data['answer_key_mismatches'] %}
    <p>
      It appears that the College Board has changed the answer key for practice {{
      score_data['test_display_name'] }}. The following questions may display incorrectly
      on your score report:
    </p>

    {% include 'email/_changed_answer_table.html' %}

    <p>
      Note that the scores displayed on the report are not affected by errors in the
      answer key.
    </p>
  {% endif %}

  {% if score_data['act_uploads_path'] %}
    <p>
      Please check the attached verification image for any errors in grading your bubble sheet. The
      red squares indicate which answer choices the auto grader tool identified as marked.
      If you find any errors, reply here for an updated report.
    </p>
  {% endif %}

  {% if score_data['student_ss_id'] %}
    <p>
      Your{% if score_data['rw_questions_answered'] and score_data['rw_questions_answered'] < 5 %}
      Math
      {% elif score_data['m_questions_answered'] and score_data['m_questions_answered'] < 5 %}
      Reading & Writing
      {% else %} test
      {% endif %}answers should be available in the
      <a href="https://docs.google.com/spreadsheets/d/{{ score_data['student_ss_id']}}/edit?gid={{ score_data['test_sheet_id'] }}"
      target="_blank">{{score_data['test_code'].upper() }} tab of your answer spreadsheet</a>.
      If not, reply here for assistance.
    </p>
  {% endif %}

  <p>
    Thank you for allowing us to be a part of your test prep journey! Please let us
    know if you have any questions, feedback, or suggestions.
  </p>
  <p>
    Team OPT
  </p>
{% endblock content %}

