<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="color: #1C4D65;">
    {% if status_updates %}
      <p>
        Status updates:<br>
        {% for u in status_updates %}
          {{ u }}<br>
        {% endfor %}
      </p>
    {% endif %}
    {% if low_hours_students %}
      <p>
        Students with low hours:<br>
        {% for s in low_hours_students %}
          {{ s }}<br>
        {% endfor %}
      </p>
    {% endif %}
    {% if add_students_to_db %}
      <p>
        Add students to database:<br>
        {% for a in add_students_to_db %}
          {{ a }}<br>
        {% endfor %}
      </p>
    {% endif %}
    <p>
      {% for m in messages %}
        {{ m }}<br>
      {% endfor %}
      </p>
    <p>{{ exception }}</p>
  </body>
</html>