{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    {% for m in messages %}
      {{ m }}<br>
    {% endfor %}
  </p>

  {% if status_updates %}
    <p>
      Status updates:<br>
      {% for u in status_updates %}
        {{ u }}<br>
      {% endfor %}
    </p>
  {% endif %}

  {% for t in tutors_attention %}
    <strong>{{ t }}</strong>

    <ul>
      {% set low = namespace(first=true) %}
      {% for s in low_scheduled_students %}
        {% if t in s['tutors'] %}
          {% if low.first %}
            <li>Students with low hours:</li>
            <ul>
            {% set low.first = false %}
          {% endif %}

          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining. Payment due on {{ s['deadline'] }})
          </li>
        {% endif %}
      {% endfor %}

      {% if not low.first %}
        </ul>
      {% endif %}
    </ul>

    <ul>
      {% set unscheduled = namespace(first=true) %}
      {% for s in unscheduled_students %}
        {% if t in s['tutors'] %}
          {% if unscheduled.first %}
            <li>Unscheduled students:</li>
            <ul>
            {% set unscheduled.first = false %}
          {% endif %}

          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
      {% if not unscheduled.first %}
        </ul>
      {% endif %}
    </ul>
  {% endfor %}

  {% if add_students_to_db %}
    <p>
      Add students to database:<br>
      {% for a in add_students_to_db %}
        {{ a }}<br>
      {% endfor %}
    </p>
  {% endif %}

  <p>{{ exception }}</p>

  <p>{{ quote }} &ndash; {{ author }}</p>
{% endblock content %}