{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    {% for m in messages %}
      {{ m }}<br>
    {% endfor %}
  </p>
  
  {% if status_updates %}
    <p>
      Status updates:<br>
      {% for u in status_updates %}
        {{ u }}<br>
      {% endfor %}
    </p>
  {% endif %}
  
  {% if low_scheduled_students %}
    <strong>Students with low hours for...</strong><br>
    {% for t in tutors_attention %}
      <strong>{{ t }}</strong>
      <ul>
        {% for s in low_scheduled_students %}
          {% if t in s['tutors'] %}
            <li>{{ s['name'] }} ({{ s['hours'] }} hrs)</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
  
  {% if add_students_to_db %}
    <p>
      Add students to database:<br>
      {% for a in add_students_to_db %}
        {{ a }}<br>
      {% endfor %}
    </p>
  {% endif %}
  
  <p>{{ exception }}</p>
{% endblock content %}