{% extends 'email/_email-base.html' %}

{% block content %}
  <h1>Task failed</h1>
  <p><h3>Submitter info</h3>
  <p>{{ score_data['email'] }}</p>
  <p>
    <a href="https://www.openpathtutoring.com/private/files/sat/uploads/{{score_data['student_name']}} {{score_data['date']}} {{score_data['test_display_name']}} CB details.pdf">Score details PDF</a>
  </p>
  <p>
    exc: {{ exc }}
  </p>
  <p>
    task_id: {{ task_id }}
  </p>
  <p>
    args: {{ args }}
  </p>
  <p>
    kwargs: {{ kwargs }}
  </p>
{% endblock content %}

