{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    Hi {{ tutor.first_name }}, here's your weekly tutoring report:
  </p>

  {% if my_low_students %}
    <strong>Students needing hours</strong><br>
    <span>Let Danny know any relevant details to assist the repurchase request, especially
    if a practice test has yet to be completed for the current package:</span>
    <ul style="margin-top: 5px; padding-left: 15px">
      {% for s in my_low_students %}
        {% if full_name(tutor) in s['tutors'] %}
          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining. Payment due on <strong>{{ s['deadline'] }}</strong>)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if my_unscheduled_students %}
    <strong>Unscheduled students</strong><br>
    <span>
      Please reach out to parents and students, or reply here to let Danny know why
      a student should be marked as Paused or Inactive.
    </span>
    <ul>
      {% for s in my_unscheduled_students %}
        {% if full_name(tutor) in s['tutors'] %}
          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if my_scheduled_students %}
    <strong>Scheduled students, no action required:</strong>
    <ul>
      {% for s in my_scheduled_students %}
        {% if full_name(tutor) in s['tutors'] %}
          <li>
            {{ s['name'] }}
            {% if s['next_tutor'] != full_name(tutor) %}
              (with {{ s['next_tutor'] }})
            {% endif %}
            - {{ s['next_session'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}