{% extends 'email/_email-base.html' %}

{% block content %}
  <p>
    Hi {{ tutor.first_name }}, here's your weekly tutoring report.
  </p>

  {% if my_low_students %}
    <strong>Students needing hours</strong><br>
    <span>Ask Danny to request repurchase for the following students:</span>
    <ul style="margin-top: 5px; padding-left: 15px">
      {% for s in my_low_students %}
        {% if full_name(tutor) in s['tutors'] %}
          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining. Payment due on <strong>{{ s['deadline'] }}</strong>)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if my_unscheduled_students %}
    <strong>Unscheduled students</strong><br>
    <span>
      Please reach out to parents and students with Danny in CC or BCC, or reply here
      if a student should be marked as Paused or Inactive:
    </span>
    <ul>
      {% for s in my_unscheduled_students %}
        {% if full_name(tutor) in s['tutors'] %}
          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  {% if paused_student_list %}
    <strong>Paused students</strong><br>
    <span>Let Danny know if any of these students should be marked as Active or Inactive:</span>
    <ul>
      <li>
        {{ paused_student_list }}
      </li>
    </ul>
  {% endif %}

  {% if my_scheduled_students %}
    <strong>Scheduled students, no action required:</strong>
    <ul>
      {% for s in my_scheduled_students %}
        {% if full_name(tutor) == s['next_tutor'] %}
          <li>
            {{ s['name'] }} - {{ s['next_session'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}