{% extends 'email/_email-base.html' %}

{% block content %}
  {% if cc_sessions %}
  <p>
    Sessions to charge for tomorrow<br>
    {% for s in cc_sessions %}
      {{ s['name'] }}: ${{ s['payment'] }}<br>
    {% endfor %}
  </p>
  {% endif %}
  <p>
    A total of {{ my_tutoring_hours }} hours ({{ my_session_count }} sessions)
    are scheduled with Danny for {{ my_student_count }} students next week.
  </p>
  <p>
    An additional {{ other_tutoring_hours }} hours ({{ other_session_count }} sessions)
    are scheduled with other tutors for {{ other_student_count }} students.
  </p>

  {% if low_scheduled_students %}
    <p style="margin-bottom: 10px">
      <strong>Scheduled students with low hours</strong>
    </p>
    <ul style="margin-top:10px; padding-left:15px">
      <li>
        {{ s['name'] }} ({{ s['hours'] }} hrs, repurchase deadline is {{ s['deadline'] }}.)
      </li>
    </ul>
  {% endif %}

  {% for tutor in tutors_attention %}
    <p style="margin-bottom: 10px">
      <strong>{{ tutor }}'s unscheduled students</strong>
    </p>

    <ul style="margin-top:10px; padding-left:15px">
      {% for s in unscheduled_students %}
        {% if tutor in s['tutors'] %}
          <li>
            {{ s['name'] }} ({{ s['hours'] }} hrs remaining)
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
  <p>
    Paused students: {{ paused_str }}
  </p>
  {% if add_students_to_data %}
    <p>
      {% for a in add_students_to_data %}
        Add {{ a['name'] }} to {{ a['add_to'] }}<br>
      {% endfor %}
    </p>
  {% endif %}

  <table>
    <thead style="font-weight: bold">
      <td>Week of</td>
      <td>Daytime</td>
      <td>Evening</td>
      <td>Projected</td>
      <td>Total &emsp;</td>
    </thead>
    <tbody>
      {% for i in range(10) %}
        <tr>
          <td style="border-right: 1px solid #1C4D65; font-weight: bold">
            {{ weekly_data['dates'][i] }}
          </td>
          <td>
            {{ '{:0.2f}'.format(weekly_data['day_hours'][i]) }}
          </td>
          <td>
            {{ '{:0.2f}'.format(weekly_data['evening_hours'][i]) }}
          </td>
          <td>
            {{ '{:0.2f}'.format(weekly_data['projected_hours'][i]) }}
          </td>
          <td style="font-weight: bold">
            {{ '{:0.2f}'.format(weekly_data['day_hours'][i] + weekly_data['evening_hours'][i] + weekly_data['projected_hours'][i]) }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    {% for m in messages %}
      {{ m }}<br>
    {% endfor %}
  </p>

  {% if status_updates %}
    <p>
      Status updates:<br>
      {% for u in status_updates %}
        {{ u }}<br>
      {% endfor %}
    </p>
  {% endif %}

  <p>
    <strong>Random inspirational quote of the day</strong><br/>
    {{ message }}<br/>
    &ndash; {{ author }}
  </p>
{% endblock content %}