<h1>Practice ACT<sup class="h5">&#174;</sup> score analysis</h1>
<p>
  After completing
  <a href="https://www.act.org/content/act/en/products-and-services/the-act/test-preparation/free-act-test-prep.html#pdf" class="semibold" target="_blank">
    Enhanced ACT Practice Test 1 or 2
  </a>, upload a photo of
  <a href="{{ url_for('static', filename='files/act-bubble-sheet.pdf') }}" class="semibold" target="_blank">
    this bubble sheet
  </a>
  to get a detailed score analysis.
</p>
<button class="btn" data-bs-toggle="modal" data-bs-target="#answer-img-modal">Instructions</button>