<div class="row sticky-header justify-content-center">
  <div class="col-10">
    <div class="row">
      <div class="col-10 col-sm-8">
        {% block logo_link %}
          <a href="{{ url_for('main.index') }}">
        {% endblock logo_link %}
          <img id="nav-img" src="{{ url_for('static', filename='img/logo-header.svg') }}" alt="Open Path Tutoring">
        </a>
      </div>
      <div class="col-2 col-sm-4">
        <a id="menu-btn" data-drawer-trigger aria-controls="site-menu" aria-expanded="false">
          <div id="menu-title" class="d-none d-sm-block text-truncate">
            {% if current_first_name and current_last_name %}
              {{ current_first_name }} {{ current_last_name }}
            {% else %}
              Menu
            {% endif %}
          </div>
          <img id="menu-icon" src="{{ url_for('static', filename='img/menu.svg') }}" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- https://github.com/tomaszbujnowicz/vanilla-js-drawer -->

<section class="drawer" id="site-menu" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">

      </div>
      <div class="menu-close" data-drawer-close aria-label="Close Drawer">×</div>
    </div>
    <div class="drawer__content">
      {% block home_link %}
        <a href="{{ url_for('main.index') }}">
      {% endblock home_link %}
        <div class="menu-link">
          <p>Home</p>
        </div>
      </a>

      {% if current_user.is_admin %}
          <!-- <a data-drawer-trigger data-drawer-close aria-controls="nested-menu" aria-expanded="false">
            <div class="menu-link">
              <p>Admin</p>
            </div>
          </a> -->
          <a href="{{ url_for('main.new_student') }}">
            <div class="menu-link">
              <p>New student</p>
            </div>
          </a>
          <a href="{{ url_for('admin.users') }}">
            <div class="menu-link">
              <p>Users</p>
            </div>
          </a>
          <a href="{{ url_for('admin.students') }}">
            <div class="menu-link">
              <p>Students</p>
            </div>
          </a>
          <a href="{{ url_for('admin.tutors') }}">
            <div class="menu-link">
              <p>Tutors</p>
            </div>
          </a>
          <a href="{{ url_for('admin.orgs') }}">
            <div class="menu-link">
              <p>Organizations</p>
            </div>
          </a>
      {% endif %}

      <a href="{{ url_for('main.reviews') }}">
        <div class="menu-link">
          <p>Reviews</p>
        </div>
      </a>

      <a href="{{ url_for('main.team') }}">
        <div class="menu-link">
          <p>Our Team</p>
        </div>
      </a>

      <a href="{{ url_for('main.mission') }}">
        <div class="menu-link">
          <p>Test Prep For All</p>
        </div>
      </a>

      <a href="{{ url_for('main.sat_report') }}">
        <div class="menu-link">
            <p>Free Practice SAT<sup>&reg;</sup> Analysis</p>
        </div>
      </a>

      <a href="{{ url_for('main.act_report') }}">
        <div class="menu-link">
            <p>Free Practice ACT<sup>&reg;</sup> Analysis</p>
        </div>
      </a>

      <a href="{{ url_for('main.test_dates') }}">
        <div class="menu-link">
          <p>Test dates</p>
        </div>
      </a>


      {% block contact_link %}
        <a href="{{ url_for('main.index', _anchor='contact') }}">
          <div class="menu-link">
            <p>Contact</p>
          </div>
        </a>
      {% endblock contact_link %}

      {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">
          <div class="menu-link">
            <p>Log out</p>
          </div>
        </a>
      {% else %}
        {% if organization %}
          <a href="{{ url_for('auth.signin', next=request.endpoint, org=organization.slug) }}">
        {% else %}
          <a href="{{ url_for('auth.signin', next=request.endpoint) }}">
        {% endif %}
          <div class="menu-link">
            <p>Sign in</p>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
</section>

<section class="drawer" id="nested-menu" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">

      </div>
      <div class="drawer__close" data-drawer-close aria-label="Close Drawer"></div>
    </div>
    <div class="drawer__content">

    </div>
  </div>
</section>