{% extends 'base.html' %}

{% block head %}
  {{ super() }}

  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock head %}

{% block container %}
  {% block header %}
    <div class="row section-margin justify-content-center">
      <div class="col-12 col-sm-11 col-md-10 col-lg-9 col-xl-7 text-center">
        {% include '_act-report-intro.html' %}
      </div>
    </div>
  {% endblock header %}

  {% block form_content %}
    {% include '_act-report-form.html' %}
  {% endblock form_content %}
{% endblock container %}

{% block ntpa_logo %}
  <img id="ntpa-logo" src="{{ url_for('static', filename='img/ntpa-member.png') }}" class="img-fluid mb-3 my-md-0">
{% endblock ntpa_logo %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/act-report-form.js') }}"></script>
  <script>
    const font_color = '#00496d'
    const color1 = '#1b4d64'
    const color2 = '#ffa874'
    const color3 = '#c3f0f7'
    const color1_contrast = '#ffffff'
    const color2_contrast = '#ffffff'
    const color3_contrast = '#00496d'
    document.documentElement.style.setProperty('--font-color', font_color);
    document.documentElement.style.setProperty('--color1', color1);
    document.documentElement.style.setProperty('--color2', color2);
    document.documentElement.style.setProperty('--color3', color3);
    document.documentElement.style.setProperty('--color1-contrast', color1_contrast);
    document.documentElement.style.setProperty('--color2-contrast', color2_contrast);
    document.documentElement.style.setProperty('--color3-contrast', color3_contrast);
  </script>
{% endblock end_scripts %}