{% extends "base.html" %}

{% block container %}
  <form class="" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="section-margin row justify-content-center justify-content-md-start g-0">
      <div class="col-11 offset-md-1 col-md-9 col-lg-8">
        <div class="row">
          <div class="col-8">
            <h1>Edit user</h1>
          </div>
          <div class="col-4 text-end">
            {{ form.status }}
          </div>
          <div class="col-12">
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.secondary_email }}
            {{ form.location }}

            <div id="tz-container">
              <select id="tz-select">
                <option value="">Timezone</option>
                <option value="America/Los_Angeles">Pacific</option>
                <option value="America/Denver">Mountain</option>
                <option value="America/Chicago">Central</option>
                <option value="America/New_York">Eastern</option>
              </select>
              {{ form.timezone }}
            </div>
  
            <div class="d-sm-flex mt-3 justify-content-between">
              <div class="mb-2">
                <h3 class="mb-1">Role:</h3>
                {{ form.role }}
              </div>
              
              <div id="grad-year-div" class="mb-2">
                <h3 class="mb-1">Grad year:</h3>
                {{ form.grad_year }}
              </div>
              <div id="parent-div" class="mb-2">
                <h3 class="mb-1">Parent:</h3>
                {{ form.parent_id }}
              </div>
              <div id="tutor-div" class="mb-2">
                <h3 class="mb-1">Tutor:</h3>
                {{ form.tutor_id }}
              </div>
            </div>
            
            {% for t in tests %}
              <div class="row mt-4 g-0">
                <h3 class="mb-1">{{ t.upper() }} dates:</h3>
                <div class="d-flex flex-wrap">
                  {% for d in upcoming_dates %}
                    {% if d.test == t %}
                      <div class="test-date my-1">
                        <label for="td-{{ d.id }}" class="text-nowrap">
                          {{ d.date.strftime('%B %-d') }}
                        </label>
                        <select type="checkbox" id="td-{{ d.id }}" name="test_dates">
                          <option value="{{ d.id }}-none">--</option>
                          <option value="{{ d.id }}-interested" {{ "selected" if d.id in interested_tests }}>Interested</option>
                          <option value="{{ d.id }}-registered" {{ "selected" if d.id in registered_tests }}>Registered</option>
                        </select>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row my-4">
          <div class="col-12">
            <h3 class="mb-3">Settings:</h3>
          </div>
          <div class="col">
            {{ form.session_reminders }}
            {{ form.session_reminders.label }}
          </div>
          <div class="col">
            {{ form.test_reminders }}
            {{ form.test_reminders.label }}
          </div>
          <div class="col">
            {{ form.is_admin }}
            {{ form.is_admin.label }}
          </div>
        </div>
        
        <div class="row">
          <div class="col-8">
            <input type="submit" name="save" value="Save">
          </div>
          <div class="col-4">
            <button type="button" class="btn clr alert w-100" data-bs-toggle="modal" 
                data-bs-target="#delete-modal" data-text="delete">
              Delete
            </button>
          </div>
          <div class="col-12 text-center">
            <a href="{{ url_for('students') }}" class="btn clr sm mx-2 d-inline-block">
              Students
            </a>
            <a href="{{ url_for('tutors') }}" class="btn clr sm mx-2 d-inline-block">
              Tutors
            </a>
            <a href="{{ url_for('users') }}" class="btn clr sm mx-2 d-inline-block">
              All users
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="container-fluid">
            <div class="row">
              <div class="modal-header mt-2">
                <h1 class="modal-title">Are you sure?</h1>
              </div>
            </div>
            <div class="modal-body">
              <button class="btn clr alert d-inline me-2" type="submit" name="delete">Delete {{ user.first_name }}</button>
              <button class="btn d-inline" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toggle-parent-tutor.js') }}"></script>
  <script>
    document.getElementById('phone').addEventListener('input', function (e) {
      var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
    });
  </script>

  <script>
    // Get references to the select and text field
    const selectElement = document.getElementById('tz-select');
    const timezoneText = document.getElementById('timezone');
    
    // Add event listener to the select element
    selectElement.addEventListener('change', function() {
      // Get the selected value from the select element
      const selectedValue = selectElement.value;
      
      // Update the value of the text field with the selected value
      timezoneText.value = selectedValue;
    });
  </script>

{% endblock end_scripts %}
