{% extends "base.html" %}

{% block title %}
  Elizabeth Walker - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/elizabeth.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet Elizabeth Walker</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h4 fw-bold me-1">Hi! I'm Elizabeth!</span>
        What's your reaction to taking physics? Frustration and loathing? Uncertainty?
        Excitement? With 32 years of experience teaching physics at various
        levels — including AP Physics, IB Physics, Regents Physics, Honors Physics, and
        college Physics — I am dedicated to helping students unlock their full potential.
      </p>
      <p>
        My approach focuses on connecting students' intuition and everyday experiences
        with the language of physics through words, graphs, pictures, and equations. I
        have successfully guided hundreds of students to regain their confidence and get
        back on track with personalized physics tutoring tailored to their individual
        needs.
      </p>
        Whether you're struggling with the basics or aiming for top scores, I'm here to
        help you achieve your goals and develop a deeper understanding of the subject.
      </p>
      <div class="text-center mt-4">
        <a href="{{ url_for('index', _anchor='contact') }}" class="btn">Get in touch</a>
      </div>
    </div>
  </div>
{% endblock content %}
