{% extends "base.html" %}

{% block title %}
  Elizabeth Walker - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/elizabeth.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet Elizabeth Walker</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h3 me-1">Hi! I'm Elizabeth!</span>
        Physics doesn't have to feel overwhelming. I specialize in breaking down
        complex ideas into simple, clear concepts through helpful analogies, clear
        visuals, and an infectious passion for learning physics.  Success in physics isn't
        about memorizing lots of formulas. It's about connecting ideas to the real world
        you already know and building confidence one step at a time.
      </p>
      <p>
        I'm a former classroom teacher with over 30 years of experience and a
        subject-matter expert who believes that everyone can learn physics with the right
        support. My approach focuses on connecting students' intuition and everyday
        experiences with the language of physics through words, graphs, pictures, and
        equations. I have successfully guided hundreds of students to regain their
        confidence and get back on track with personalized physics tutoring tailored to
        their individual needs. Whether you are working to regain confidence, boost your
        grades, or push for top exam scores, I will guide you through a personalized
        learning journey that makes physics not only manageable but surprisingly
        enjoyable.
      </p>
      <div class="text-center mt-4">
        <a href="{{ url_for('main.index', _anchor='contact') }}" class="btn">Get in touch</a>
      </div>
    </div>
  </div>
{% endblock content %}
