{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta property="og:title" content="Open Path Tutoring" />
  <meta property="og:description" content="Schedule your free SAT or ACT prep session" />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />

  <script defer data-project-id="pro_1jumujmusbHMWDJwTRHKT" src="https://us.altcha.org/js/latest/script.js"></script>
  <script async defer src="https://cdn.jsdelivr.net/npm/altcha/dist/altcha.min.js" type="module"></script>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
{% endblock head %}

{% block navbar %}{% endblock navbar %}

{% block styles_scripts %}
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script async src="https://assets.calendly.com/assets/external/widget.js"></script>
  {{ super() }}
{% endblock styles_scripts %}

{% block container %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div id="home-alert" class="row justify-content-center alert {{ category }}">
          <div class="col-sm-11 col-md-10 col-lg-9">
            <div role="alert">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div id="home" class="inverse text-center">
    <nav class="row justify-content-center g-0">
      <div class="col-11">
        <div class="row justify-content-center justify-content-xl-end">
          <div class="home-nav col col-lg-10 col-xl-8">
            <div class="d-none d-md-block">
              <a href="#home" data-text="home">
                home
              </a>
            </div>
            <div>
              <a href="{{ url_for('reviews') }}" data-text="reviews">
                reviews
              </a>
            </div>
            <div>
              <a href="{{ url_for('team') }}" data-text="our team">
                our team
              </a>
            </div>
            <div class="d-none d-sm-block">
              <a href="{{ url_for('mission') }}" data-text="test prep for all">
                test prep for all
              </a>
            </div>
            <div>
              <a href="#contact" data-text="contact">
                contact
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center">
      <div class="col-11 col-sm-12">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('static', filename='img/logo-white.svg') }}" alt="">
        <h1 id="home-title">Open Path Tutoring</h1>
        <h2 id="home-tagline">Access your full potential on the SAT<sup class="h5">&#174;</sup>,
          ACT<sup class="h5">&#174;</sup>, and beyond.<br>
          <br class="d-md-none">
          Pave your path to<br class="d-sm-none">
          greater education.</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-11">
        <a id="request-trial" class="btn lead" href="?subject=Trial session request#contact">
          Request a free intro session
        </a>
        <!-- <a class="btn lead mx-2"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/hello?hide_event_type_details=1&a1=1'});return false;">
          Free Test Prep session
        </a>
        <a class="btn lead mx-2"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/hello?hide_event_type_details=1&a1=2'});return false;">
          Free Power session
        </a> -->

        <div class="home-next">
          <a href="#benefits">
            <h4>
              Why Open Path?
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="benefits" class="home-section">
    <div class="row text-center justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center">
          <h1>Why choose Open Path Tutoring?</h1>
        </div>
        <div class="row g-5 justify-content-center">
          <div class="usp col-md-4">
            <svg class="usp-icon" viewBox="0 0 16 16" class="bi bi-shield-fill-check" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
            <h2 class="mb-3">Proven</h2>
            <p class="grey text-md-start">
              Over the past 5 years, Open Path tutors have helped
              hundreds of students significantly raise test scores, improve grades,
              and get accepted into top universities.
            </p>
          </div>
          <div class="usp col-md-4">
            <svg class="usp-icon bi bi-person-plus-fill" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <h2 class="mb-3">Personalized</h2>
            <p class="grey text-md-start">
              Not only do we use score analyses of practice tests to tailor
              sessions to each student's strengths and opportunities, but we also seek to
              grow a sense of connection with a student to uncover sources of motivation or self-limitation.
              Sometimes a small shift in mindset can have a major impact on results.
            </p>
          </div>
          <div class="usp col-md-4">
            <svg class="usp-icon bi bi-bookmark-star-fill" viewBox="0 0 16 16" class="" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
            </svg>
            <h2 class="mb-3">Proficient</h2>
            <p class="grey text-md-start">
              Open Path tutors are experts in both the subject matter
              being taught and the art of tutoring itself. They are two different skillsets!
              We are always seeking to become more effective in both aspects.
            </p>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-10">
            <p class=" text-md-start">
              <i>"Just wanted to let you know my son's mood was immediately better
              after meeting with you, after being down for about a week and a half.
              I think this is going to be so great for him. Thank you again!"</i>
            <strong>&#8211; Parent of Study Skills student</strong></p>
            <a href="{{ url_for('reviews') }}" class="btn mt-0">
              See more reviews
            </a>
          </div>
        </div>
        <div class="home-next">
          <a href="#free-trial">
            <h4>
              First session free
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="free-trial" class="home-section inverse">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8">
        <h2 class="mb-4">
          In just about any academic subject, one factor can make the difference
          between the best class ever and the most dreaded time of day:
          <b>your teacher</b>.
        </h2>
        <h2 class="mb-4">
          The SAT<sup>&#174;</sup> and ACT<sup>&#174;</sup> are no different. If you don't
          enjoy your time with a tutor, then the process will be painful. However, if you
          feel connected to and respected by your tutor, then you'll be more willing to put
          in the work.
        </h2>
        <h2 class="mb-4">
          The only way to know is to try. That's why we offer a
          <b>free intro session</b> upon request with no purchase necessary.
        </h2>
        <div class="text-center">
          <a id="request-trial" class="btn lead my-2" href="#contact">
              Request a free intro session
          </a>
        </div>
        <div class="home-next">
          <a href="#contact">
            <h4>
              Have a question?
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 col-xl-8">
        <h1 class="mb-4">Get in touch</h1>

        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          {{ form.first_name }}
          {{ form.email }}
          {{ form.phone }}
          {{ form.subject(class="d-none") }}
          <div class="d-md-flex">
            {{ form.message(rows='2', class="flex-grow-1") }}
            <!-- <altcha-widget
              challengeurl="https://us.altcha.org/api/v1/challenge?apiKey={{ altcha_site_key }}"
              class="mt-3 ms-3 mb-2"
              debug
            ></altcha-widget> -->
            <div class="mt-md-3 ms-md-3">
              {{ hcaptcha }}
            </div>
          </div>

          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
{% endblock container %}

{% block ntpa_logo %}
  <img id="ntpa-logo" src="{{ url_for('static', filename='img/ntpa-member.png') }}" class="img-fluid mb-3 my-md-0">
{% endblock ntpa_logo %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
  <script>
    zenscroll.setup(null, 0);
  </script>

  <script>
    // Function to get query parameters
    function getQueryParam(param) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(param);
    }

    // Autofill the name input if query parameter exists
    window.addEventListener('DOMContentLoaded', () => {
      const nameValue = getQueryParam('subject');
      if (nameValue) {
        const subjectField = document.getElementById('subject')
        subjectField.value = nameValue;
        subjectField.classList.remove('d-none');

      }
    });

    // document.getElementById("request-trial").addEventListener("click", function () {
    //   document.getElementById("subject").setAttribute('value', 'Trial session request');
    // });

    // function onSubmit(token) {
    //  document.getElementById("inquiry-form").submit();
    // }
  </script>
{% endblock end_scripts %}
