{% extends "base.html" %}

{% block title %}
  John Vasiloff - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/john.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet John Vasiloff</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h3 me-1">Hello there! I'm John.</span>
        I specialize in SAT and ACT prep with over 17 years of experience. I hold a BA in Political Science and a Master's in Public Policy from the University of Michigan-Dearborn, where I earned the Honors Scholar Award for my academic achievements and service as a university tutor.
      </p>
      <p>
        My tutoring approach focuses on building empathy, understanding, and confidence. I know standardized tests can feel overwhelming, but I simplify complex questions to make them easier and less frustrating to tackle. I've successfully worked with students of all ages and backgrounds, including those with ADHD, executive functioning challenges, dyslexia, and other learning disabilities.
      </p>
      <p>
        Outside of tutoring, I enjoy spending time with my two daughters, playing soccer, watching college football, playing games, and playing trivia. I look forward to helping you achieve your goals soon!
      </p>
      <h3>Subjects covered</h3>
      <p>
        SAT, ACT, Algebra, Algebra 2, Geometry, History, Government, Essay Writing/Composition
      </p>
      <div class="text-center mt-4">
        <a href="{{ url_for('main.index', _anchor='contact') }}" class="btn">Get in touch</a>
      </div>
        </div>
      </div>
{% endblock content %}

