{% extends "base.html" %}

{% block title %}
  Michele Mundy - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/michele.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet Michele Mundy</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h3 me-1">Hey there! I'm Michele,</span>
        a test prep coach dedicated to empowering students to discover their true
        capabilities. While I've worked with kids in various capacities my entire adult
        life, I started tutoring in 2009 to bring in extra income while homeschooling my
        children. What began as a way to support my family soon became my calling.
      </p>
      <p>
        My tutoring practice has evolved over the years: in 2017, I started exclusively
        tutoring online, and in 2020, I began to focus primarily on test prep.
      </p>
      <p>
        What has remained constant throughout the evolution of my career has been my
        dedication to my students. While the content of what I teach has varied over the
        years, I consistently devote myself to helping my students recognize and live up
        to their fullest potential.
      </p>
      <p>
        My approach goes beyond teaching the material—I strive to understand each
        student's unique needs, and then tailor strategies that work for them while
        cheering them on each step of the way.
      </p>
      <p>
        Teaching my students to tackle challenges head-on builds their confidence so they
        can achieve higher scores that will help them open the doors to their dreams.
        Where could your student go with me as their guide? Let's find out together!
      </p>
      <h3>Subjects covered</h3>
      <p>
        SAT, ACT, AP English Literature, AP Language, AP Spanish, AP World History, AP US
        History, AP Government, AP Comparative Government, College essays
      </p>
      <div class="text-center mt-4">
        <a href="{{ url_for('main.index', _anchor='contact') }}" class="btn">Get in touch</a>
      </div>
    </div>
  </div>

{% endblock content %}
