{% extends "base.html" %}

{% block title %}
  Michele Mundy - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/michele.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet Michele Mundy</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h4 fw-bold me-1">Hi there, I'm Michele.</span>
        Coaches have shaped my life. When I was young, my coaches helped me create good habits so that I could incrementally improve my performance and be ready for the next swim meet. Later in life, coaches helped me find accountability, focus,  and skills that I needed to advance my career.
      </p>
      <p>
        Coaches play a pivotal role in guiding people toward their goals, both personally and professionally. Whether it's in the realm of sports, business, school, or life in general, coaches provide valuable insights, motivation, and support to help individuals reach their full potential.
      </p>
      <p>
        As a test prep coach, I help my students create a study plan and provide them with accountability. Then I coach them on how to use the most effective test-taking and study strategies so that they can showcase the skills they know.
      </p>
      <p>
        That is how students can increase their scores and demonstrate their knowledge so that universities can recognize their potential.
      </p>
      <p>
        As a veteran homeschooling and worldschooling mom, I understand the challenges that come with preparing a non-traditional student for the world of standardized tests.
      </p>
      <p>
        I've been tutoring since 2009 (way back in the time when tutors used to go to people's homes!) In 2016, I discovered that, with the right tools, tutoring online could be an even more robust experience than teaching in person.
      </p>
      <p>
        Over the years, I've helped kids from around the world understand what they need to do to improve their test scores.
      </p>
      <p>
        Using a Socratic approach, I engage the learner to ensure that they are not sitting passively staring at their computer screen. They are involved 100% and actively learning. In every session, my students actively read, annotate, and use strategies to solve the types of problems they will see on test day.
      </p>
      <p>
        When your student is applying to college, a robust transcript and a personal statement that showcases everything that makes them special will help them shine.
      </p>
      <p>
        However, you also need to ensure that they have the skills and strategies necessary to achieve the highest test scores possible. Contact me to schedule a free consultation to determine the best way forward.
      </p>
    </div>
  </div>
{% endblock content %}
