{% extends 'base.html' %}

{% block meta %}
  <meta property="og:title" content="Our mission" />
  <meta property="og:description" content="To help any student who is committed to improving their SAT or ACT score" />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />
{% endblock meta %}

{% block container %}
  <div class="row section-margin justify-content-center">
    <div class="col-11 col-sm-10 col-lg-9 col-xxl-8">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1>Our mission:
            <span class="fw-normal">
              To help any student who is committed to improving their SAT<sup>&reg;</sup> or ACT<sup>&reg;</sup> score.
            </span>
          </h1>

          <p>
            We believe that every student deserves support on the SAT or ACT. Any student who is
            willing to put in the work to realize their fullest potential should be given the
            tools to do so, regardless of their financial position. We have three offerings to
            help bridge the gap:
          </p>
          <h3 class="fw-bold">Free resources</h3>
        </div>
      </div>
      <div id="free-resources-row" class="row">
        <div class="d-block d-lg-none col-12 mt-1 mb-2">
          <img class="img-fluid" src="{{ url_for('static', filename='img/sample-sat-score-analysis-sm.jpg') }}" alt="">
        </div>
        <div id="free-resources-text" class="col-12 col-lg-6">
          <p>
            Since 2020, we have been creating and refining tools to help students and tutors
            efficiently navigate test prep. While a trained tutor will get the most out of these
            resources, any dedicated self-starter can use them to improve their score as quickly
            as possible.
          </p>
          <p>
            The resources are designed to show a student their biggest opportunities for
            improvement with a level of detail that the College Board and ACT should provide, but
            do not. Check out the
            <a class="semibold" href="https://docs.google.com/document/d/1D5pZK9UfHFxsnpL4iGatqD-R7eoYkFweIRTvEiUhxYU/" target="_blank">
              SAT<sup>&reg;</sup> Instructions
            </a> and
            <a class="semibold" href="https://docs.google.com/document/d/1H31vJDIyRS3bphtwSfcrT7zDdOE5rb7UmSkBga72u98/" target="_blank">
              ACT<sup>&reg;</sup> Instructions
            </a> to get a sense for how these tools can help you.
          </p>
          <a class="w-100 btn" data-bs-toggle="modal" data-bs-target="#resources-modal">Get free access</a>
           <!-- <a href="{{ url_for('sat_report') }}" class="btn w-100">Get your practice SAT analysis</a> -->
        </div>
        <div class="d-none d-lg-block col-md-6 mt-2">
          <img class="img-fluid" src="{{ url_for('static', filename='img/sample-sat-score-analysis.jpg') }}" alt="">
        </div>
      </div>

      <div id="scholarship" class="row pt-5">
        <div class="col-12">
          <h3 class="fw-bold">Test Prep Scholarship</h3>
          <p>
            We have a goal of providing tutoring services to students of every socioeconomic background.
            To this end, we award test prep scholarships to students who demonstrate a commitment to
            doing the work to improve their score, but whose families cannot afford the full tutoring rate.
          </p>
          <p>
            Families are asked to pay what they can comfortably afford, and the remaining
            balance is split 50-50 between a discount from Open Path Tutoring and generous
            donations from the community. With this innovative approach, a donation of as
            little as $100 can make a 10-hour tutoring program possible.
          </p>
          <p class="text-center">
            <a href="{{ url_for('nominate') }}" class="btn mx-3">Nominate a student</a>
            <a href="https://buy.stripe.com/8x27sMdZf6wm7ny6Uh7wA0j" class="btn ter mx-3" target="_blank">
              Make a contribution
            </a>
          </p>
          <p>
            <h4 class="text-center semibold">Thank you to our contributors who have made this scholarship possible!</h4>
            <div id="sponsor-container" class="row align-items-center justify-content-center">
              <div class="col-6 col-md-4 d-flex">
                <a href="https://www.mathchops.com" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/mathchops.png') }}" alt="MathChops"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://score-smart.com" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/score-smart.png') }}" alt="Score Smart"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://austinorthodonticarts.com/"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/austin-orthodontic-arts.jpg') }}" alt="Austin Orthodontic Arts"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://www.griffinschool.org" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/griffin.png') }}" alt="Griffin School"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://www.astestprep.com" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/as-test-prep.jpg') }}" alt="AS Test Prep"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://www.pathwayprepkc.com" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/pathway-prep.png') }}" alt="Pathway Prep"></a>
              </div>
              <div class="col-6 col-md-4 d-flex">
                <a href="https://www.empoweredsat.com" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='img/partners/empowered-sat.webp') }}" alt="Empowered SAT"></a>
              </div>
            </div>
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <h3 class="fw-bold">Community service discount</h3>
          <p>
            The Open Path Tutoring team truly appreciates and literally values the service that
            students and families provide to their communities.
            Each hour that a student or parent volunteers with their favorite nonprofit
            earns a $20 discount on an hour of tutoring. (Some of the volunteer hours should
            be completed by the student and not required by their school.)
          </p>
          <p class="text-center">
            <a href="{{ url_for('index', _anchor='contact', subject='Community service discount') }}" class="btn mb-3">Get in touch</a><br>
            <a href="{{ url_for('index') }}">Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="resources-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container-fluid">
          <div class="row">
            <div class="modal-header mt-2">
              <h3 class="modal-title">Test prep tools</h3>
              <span type="button" class="btn-close" data-bs-dismiss="modal">&times;</span>
            </div>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                <p>
                  These tools are at the foundation of our SAT<sup>&reg;</sup> and
                  ACT<sup>&reg;</sup> prep programs. If a student is ready to dedicate
                  time for self-study, they deserve the support to do so. Regular practice
                  is essential for score improvement. If a student struggles to make time
                  each week for test prep, tutoring is recommended.
                </p>
                <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <div class="row justify-content-center mt-2">
                    <div class="col-5">
                      {{ form.first_name }}
                    </div>
                    <div class="col-7">
                      {{ form.email }}
                    </div>
                    <div class="col-12">
                      {{ form.submit }}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script>
  //   function adjustRowHeight() {
  //     const textElement = document.getElementById('free-resources-text');
  //     const rowElement = document.getElementById('free-resources-row');
  //     const cloneRowElement = document.getElementById('scholarship-row');

  //     if (textElement && rowElement && cloneRowElement) {

  //       const isSmallScreen = window.innerWidth < 992; // Bootstrap's medium breakpoint is 992px

  //       if (isSmallScreen) {
  //         rowElement.style.height = 'auto'; // Reset height to auto for small screens
  //         console.log('Screen is medium or smaller, row height set to auto.');
  //       }
  //       else {
  //         // Create a temporary clone of the text content
  //         const tempClone = textElement.cloneNode(true);
  //         tempClone.id = 'resources-text-clone'; // Apply the CSS id for styling
  //         tempClone.className = textElement.className; // Copy all classes from free-resources-text
  //         tempClone.style.visibility = 'hidden'; // Hide the clone to avoid displaying it

  //         cloneRowElement.appendChild(tempClone);

  //         const textHeight = tempClone.offsetHeight; // Get the height of the text content
  //         cloneRowElement.removeChild(tempClone); // Remove the temporary clone

  //         rowElement.style.height = `${textHeight}px`; // Set the row height
  //         console.log(`Row height set to: ${textHeight}px`);
  //       }
  //     }
  //   };

  //   document.addEventListener('DOMContentLoaded', adjustRowHeight);
  //   window.addEventListener('resize', adjustRowHeight);
  </script>
{% endblock end_scripts %}