{% extends "base.html" %} {% block title %} New Student Form {% endblock title
%} {% block styles_scripts %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.1/build/css/intlTelInput.css"
/>
{{ super() }} {% endblock styles_scripts %} {% block content %}
<div class="container">
  <div class="text-center">
    {% if not current_user.is_authenticated or not current_user.is_admin %}
    <h2>Additional information</h2>
    <p>
      If you have time now, providing the information below will get us off to a
      smooth start.
    </p>
    {% endif %}
  </div>
  <form method="POST" action="{{ url_for('main.new_student') }}">
    {{ form.hidden_tag() }}

    <h3 class="fw-bold">Student details</h3>
    <div class="row">
      <div class="mb-3 col-6">{{ form.student_first_name }}</div>
      <div class="mb-3 col-6">{{ form.student_last_name }}</div>
      <div class="mb-3 col-12 col-lg-6">{{ form.student_email }}</div>
      <div class="col-12 col-lg-6">{{ form.student_phone }}</div>
      <div class="mb-3 col-12">
        {{ form.pronouns.label }} <br>
        <select id="pronouns-select">
          <option value="" selected disabled>--</option>
          <option value="she/her">She/Her</option>
          <option value="he/him">He/Him</option>
          <option value="they/them">They/Them</option>
          <option value="">Other</option>
        </select>
      </div>
      <div id="pronouns-text-div" class="d-none">
        {{ form.pronouns }}
      </div>
    </div>

    <div class="row">
      <div class="mb-3 d-flex align-items-end col-12 col-md-6">
        <div>
          {{ form.timezone.label }}<br />
          <select id="tz-select" required>
            <option value="" selected disabled>Required</option>
            <option value="America/Los_Angeles">US Pacific</option>
            <option value="America/Denver">US Mountain</option>
            <option value="America/Chicago">US Central</option>
            <option value="America/New_York">US Eastern</option>
            <option value="">Other</option>
          </select>
        </div>
        <div>{{ form.timezone(class='d-none mb-0') }}</div>
      </div>

      <div class="mb-3 d-flex align-items-end col-12 col-md-6">
        <div>
          {{ form.subject.label }}<br />
          <select id="subject-select">
            <option value="sat/act">SAT/ACT prep</option>
            <option value="sat">SAT prep</option>
            <option value="act">ACT prep</option>
            <option value="psat">PSAT prep</option>
            <option value="english">English/Reading</option>
            <option value="math">Math</option>
            <option value="stats">Statistics</option>
            <option value="physics">Physics</option>
            <option value="biology">Biology</option>
            <option value="chemistry">Chemistry</option>
            <option value="environmental-science">Environmental Science</option>
            <option value="executive-functioning">Study skills</option>
            <option value="">Other</option>
          </select>
        </div>
        <div>{{ form.subject(class='d-none mb-0') }}</div>
        <div id="create-folder-div" class="align-self-end mb-lg-2 ms-3 {% if not current_user.is_admin %}d-none{% endif %}">
          {{ form.create_student_folder }} {{ form.create_student_folder.label }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="mt-3 d-flex align-items-end col-12 col-md-6">
        <div>
          {{ form.grad_year.label }} <br>
          <select id="grad-year-select">
            <option value="" selected>--</option>
            <option value="2026">2026 (Senior)</option>
            <option value="2027">2027 (Junior)</option>
            <option value="2028">2028 (Sophomore)</option>
            <option value="2029">2029 (Freshman)</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div>
          {{ form.grad_year(class='d-none mb-0') }}
        </div>
      </div>
      <div class="mt-3 d-flex align-items-end col-12 col-md-6">
        {{ form.school(class='mb-0') }}
      </div>
    </div>

    <div
      class="row align-items-end {% if not current_user.is_admin %}d-none{% endif %}"
    >
      <div class="col-12 col-md-4 col-lg-3 mb-3">
        <select id="tutor_select" name="tutor_select">
          {% for tutor in tutors %}
          <option value="{{ tutor.id }}" data-location="{{ tutor.location }}">
            {{ full_name(tutor) }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-md-5 col-lg-6 mb-3">
        {{ form.location(class='mb-0') }}
      </div>
      <div class="col-12 col-md-3 mb-3">
        {{ form.status.label }}<br />
        {{ form.status }}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        {% for t in tests %}
        <div id="{{ t }}-div" class="row my-4 g-0">
          <h4 class="mb-1">Target {{ t.upper() }} dates</h4>
          {% if current_user and current_user.is_admin %}
          <div class="d-flex flex-wrap">
            {% for d in upcoming_dates %} {% if d.test == t %}
            <div class="test-date my-1 mx-2">
              <label for="td-{{ d.id }}" class="text-nowrap">
                {{ d.date.strftime('%B %-d') }}
              </label>
              <select id="td-{{ d.id }}" name="test_dates">
                <option value="{{ d.id }}-none">--</option>
                <option value="{{ d.id }}-interested">Interested</option>
                <option value="{{ d.id }}-registered">Registered</option>
              </select>
            </div>
            {% endif %} {% endfor %}
          </div>
          {% else %}
          <div class="d-flex flex-wrap">
            <div class="row my-1 mx-2">
              {% for d in upcoming_dates %} {% if d.test == t %}
              <div class="date-checkbox col col-auto">
                <input
                  type="checkbox"
                  name="test_dates"
                  id="{{d.id}}"
                  value="{{ d.id }}"
                />
                <label class="me-3 d-inline-block" for="{{ d.id }}">
                  {{ d.date.strftime('%B %-d, %Y') }}
                </label>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>{{ form.notes.label }}</h4>
        {{ form.notes }}
      </div>
    </div>

    <h3 class="fw-bold">Parent details</h3>
    <div
      class="row my-2 {% if current_user and current_user.is_admin %}d-block{% else %}d-none{% endif %}"
    >
      <div class="col-12">
        <select name="parent_select" id="parent_select">
          <option value="0" selected>New parent</option>
          {% for parent in parents %}
          <option
            value="{{ parent.id }}"
            data-first-name="{{ parent.first_name }}"
            data-last-name="{{ parent.last_name }}"
            data-email="{{ parent.email }}"
            data-phone="{{ parent.phone }}"
            data-email-2="{{ parent.secondary_email }}"
          >
            {{ full_name(parent) }}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div id="new-parent-info">
      <div class="row">
        <div class="mb-3 col-6">{{ form.parent_first_name }}</div>
        <div class="mb-3 col-6">{{ form.parent_last_name }}</div>
      </div>
      <div class="row">
        <div class="mb-3 col-12">{{ form.parent_email }}</div>
      </div>
      <div class="row">
        <div class="mb-3 col-12">{{ form.parent_phone }}</div>
      </div>
    </div>

    <h3 class="mt-3 fw-bold">Additional parent details (optional)</h3>
    <div class="row">
      <div class="mb-3 col-6">{{ form.parent2_first_name }}</div>
      <div class="mb-3 col-6">{{ form.parent2_last_name }}</div>
    </div>
    <div class="row">
      <div class="mb-3 col-12">{{ form.parent2_email }}</div>
    </div>
    <div class="row">
      <div class="col-12">{{ form.parent2_phone }}</div>
    </div>

    <div class="mb-3 text-center">
      {{ hcaptcha }}
    </div>
    {{ form.submit }}
  </form>
</div>
{% endblock content %} {% block end_scripts %}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.13.1/build/js/intlTelInput.min.js"></script>
<script src="{{ url_for('static', filename='js/phone-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/disable-submit-on-click.js') }}"></script>

<script>
  const pronounsSelect = document.getElementById("pronouns-select");
  const pronounsTextDiv = document.getElementById("pronouns-text-div");
  pronounsSelect.addEventListener("change", function () {
    const selectedValue = pronounsSelect.value;
    pronounsTextDiv.value = selectedValue;
    if (selectedValue === "") {
      pronounsTextDiv.classList.remove("d-none");
    } //
    else {
      pronounsTextDiv.classList.add("d-none");
    }
  });

  const selectElement = document.getElementById("tz-select");
  const timezoneText = document.getElementById("timezone");

  selectElement.addEventListener("change", function () {
    const selectedValue = selectElement.value;
    timezoneText.value = selectedValue;
    if (selectedValue === "") {
      timezoneText.classList.remove("d-none");
    } //
    else {
      timezoneText.classList.add("d-none");
    }
  });

  const subjectSelect = document.getElementById("subject-select");
  const subjectText = document.getElementById("subject");
  const satDatesDiv = document.getElementById("sat-div");
  const actDatesDiv = document.getElementById("act-div");

  const initialSubjectValue = subjectSelect.value;
  subjectText.value = initialSubjectValue;
  subjectSelect.addEventListener("change", function () {
    const selectedValue = subjectSelect.value;
    subjectText.value = selectedValue;
    if (selectedValue === "") {
      subjectText.classList.remove("d-none");
    } //
    else {
      subjectText.classList.add("d-none");
    }

    if (selectedValue === "sat/act" || selectedValue === "psat") {
      satDatesDiv.classList.remove("d-none");
      actDatesDiv.classList.remove("d-none");
    } //
    else if (selectedValue === "sat") {
      satDatesDiv.classList.remove("d-none");
      actDatesDiv.classList.add("d-none");
    } //
    else if (selectedValue === "act") {
      satDatesDiv.classList.add("d-none");
      actDatesDiv.classList.remove("d-none");
    } //
    else {
      satDatesDiv.classList.add("d-none");
      actDatesDiv.classList.add("d-none");
    }
  });

  const gradYearSelect = document.getElementById("grad-year-select");
  const gradYearText = document.getElementById("grad_year");
  gradYearSelect.addEventListener("change", function () {
    const selectedValue = gradYearSelect.value;
    if (selectedValue === "other") {
      gradYearText.classList.remove("d-none");
      gradYearText.value = "";
    } //
    else {
      gradYearText.classList.add("d-none");
      gradYearText.value = selectedValue;
    }
  });

  document.getElementById("parent_select").addEventListener("change", function () {
    if (this.value !== "0") {
      document.getElementById("parent_first_name").value =
        this.options[this.selectedIndex].getAttribute("data-first-name");
      document.getElementById("parent_last_name").value =
        this.options[this.selectedIndex].getAttribute("data-last-name");
      document.getElementById("parent_email").value =
        this.options[this.selectedIndex].getAttribute("data-email");
      document.getElementById("parent_phone").value =
        this.options[this.selectedIndex].getAttribute("data-phone");
      document.getElementById("parent2_email").value =
        this.options[this.selectedIndex].getAttribute("data-email-2");
    }
  });

  const tutorSelect = document.getElementById("tutor_select");

  // Set initial location from default tutor
  const initialOption = tutorSelect.options[tutorSelect.selectedIndex];
  const initialLocation = initialOption.getAttribute("data-location");
  document.getElementById("location").value = initialLocation;

  // Update location when tutor changes
  tutorSelect.addEventListener("change", function () {
    const selectedOption = this.options[this.selectedIndex];
    const location = selectedOption.getAttribute("data-location");
    document.getElementById("location").value = location;
  });
</script>
{% endblock end_scripts %}
