{% extends 'base.html' %}
 
{% block content %}
  <div>
    <a href="https://drive.google.com/drive/folders/1A2POcp4ZdQJroOiZT1pCLaVhgjo8Wm6I?usp=sharing" class="btn sec" target="_blank">
      Digital SAT<sup>&#174;</sup> resources folder
    </a>
  </div>
  
  <div>
    <a href="https://docs.google.com/spreadsheets/d/1JKLk5kifjrdZI_q3Eb4pF7K7cHCzVNG69GjbVfgXeLU/edit?usp=sharing" class="btn sec" target="_blank">
      ACT<sup>&#174;</sup> answer analysis sheet
    </a>
  </div>
  
  <div>
    <a id="open-form" class="btn sec">Give me more spreadsheets</a>
  </div>
  
  <div id="ntpa-form-container" class="hidden-form">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {{ form.first_name }}
      {{ form.last_name }}
      {{ form.email }}
      {{ form.biz_name }}
      {{ hcaptcha }}
      {{ form.submit }}
    </form>
  </div>
{% endblock content %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight + 20}px`;

    document.getElementById("open-form").addEventListener("click", function () {
      this.style.display = "none";
      slideDown(document.getElementById("ntpa-form-container"));
    });
  </script>
{% endblock end_scripts %}