{% extends 'base.html' %}

{% block styles_scripts %}
  {{ super() }}

  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
{% endblock styles_scripts %}

{% block content %}
<h1 class="d-inline-block me-4">Settings for {{ organization.name or 'new organization' }}</h1>
{% if organization %}
  <a href="{{ url_for('main.partner_page', org=organization['slug']) }}">View</a>
{% endif %}
<form method='post' enctype='multipart/form-data'>
    {{ form.hidden_tag() }}
    <div id="new-org-info" class="mb-2">
      {{ form.org_name }}
      {{ form.slug }}
    </div>
    <div class="mb-1">
      {{ form.partner_id.label }} {{ form.partner_id }}
    </div>
    <div id="new-partner-info" class="row">
      <div class="col col-md-6">
        {{ form.first_name }}
      </div>
      <div class="col col-md-6">
        {{ form.last_name }}
      </div>
      <div class="col">
        {{ form.email }}
      </div>
    </div>
    <div class="row mb-2 text-center">
      <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div id="picker1" class="my-2"></div>
      {{ form.color1.label }}
      {{ form.color1(class="text-center") }}
      </div>
      <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div id="picker2" class="my-2"></div>
      {{ form.color2.label }}
      {{ form.color2(class="text-center") }}
      </div>
      <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div id="picker3" class="my-2"></div>
      {{ form.color3.label }}
      {{ form.color3(class="text-center") }}
      </div>
      <div class="col-12 col-md-6 col-xl-3 mb-2">
      <div id="font_picker" class="my-2"></div>
      {{ form.font_color.label }}
      {{ form.font_color(class="text-center") }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.logo.label(class="mb-3") }} {{ form.logo }}
      </div>
      <div class="col-6 col-md-4">
        {% if organization.logo_path %}
          <div class="mb-2">
            <img src="https://www.openpathtutoring.com/static/{{ organization.logo_path }}" alt="Organization Logo" class="img-fluid" style="max-height: 10rem;">
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        {{ form.copy_ss_logo }}
        {{ form.copy_ss_logo.label }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.ss_logo.label(class="mb-3") }} {{ form.ss_logo }}
      </div>
      <div class="col-6 col-md-4">
        {% if organization.ss_logo_path %}
          <div class="mb-2">
            <img src="https://www.openpathtutoring.com/static/{{ organization.ss_logo_path }}" alt="Org SS Logo" class="img-fluid" style="max-height: 10rem;">
          </div>
        {% endif %}
      </div>
    </div>
    <div class="my-2">
      {{ form.sat_ss_id.label }} <a href="https://docs.google.com/spreadsheets/d/{{ organization.sat_spreadsheet_id }}" class="ms-3" target="_blank">View</a>
      {{ form.sat_ss_id }}
    </div>
    <div class="my-2">
      {{ form.act_ss_id.label }} <a href="https://docs.google.com/spreadsheets/d/{{ organization.act_spreadsheet_id }}" class="ms-3" target="_blank">View</a>
      {{ form.act_ss_id }}
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-8">{{ form.save }}</div>
      {% if organization %}
        <div class="col-4">
          <button type="button" class="btn clr alert w-100" data-bs-toggle="modal"
              data-bs-target="#delete-modal" data-text="delete">
            Delete
          </button>
        </div>
      {% endif %}
      <div class="col-12">
        <a href="{{ url_for('admin.org_settings', org='new') }}" class="btn ter sm mx-2">New organization</a>
        <a href="{{ url_for('admin.orgs') }}" class="btn clr sm mx-2">All organizations</a>
      </div>
    </div>

    {% if organization %}
      <div id="delete-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="container-fluid">
              <div class="row">
                <div class="modal-header mt-2">
                  <h1 class="modal-title">Are you sure?</h1>
                </div>
              </div>
              <div class="modal-body">
                <button class="btn clr alert d-inline me-2" type="submit" name="delete">Delete {{ organization.name }}</button>
                <button class="btn d-inline" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight + 20}px`;
    const slideUp = element => element.style.height = 0;

    // Hide partner info on load if partner_id != 0
    window.addEventListener('DOMContentLoaded', function() {
      const partnerIdElem = document.getElementById('partner_id');
      const partnerInfoElem = document.getElementById('new-partner-info');
      if (partnerIdElem && partnerInfoElem) {
      if (partnerIdElem.value != 0) {
        partnerInfoElem.style.display = 'none';
      } else {
        partnerInfoElem.style.display = 'block';
      }
      }
    });

    document.getElementById('partner_id').addEventListener('change', function() {
      if(this.value == 0) {
        document.getElementById('new-partner-info').style.display = 'flex';
      }
      else {
        document.getElementById('new-partner-info').style.display = 'none';
      }
    });

    const copyCheckbox = document.getElementById('copy-logo-checkbox');
    const logoInput = document.getElementById('logo');
    const ssLogoInput = document.getElementById('ss_logo');

    copyCheckbox.addEventListener('change', function() {
      if (this.checked) {
        const dataTransfer = new DataTransfer();
        Array.from(logoInput.files).forEach(file => {
          dataTransfer.items.add(file);
        });
        ssLogoInput.files = dataTransfer.files;
      } //
      else {
        ssLogoInput.value = '';
      }
    });

    logoInput.addEventListener('change', function() {
      copyCheckbox.checked = false;
    });

    var colorPicker1 = new iro.ColorPicker('#picker1', {
      width: 150,
      color: document.getElementById('color1').value || '#ffffff',
      layout: [
      { component: iro.ui.Wheel },
      { component: iro.ui.Slider, options: { sliderType: 'value' } }
      ]
    });
    var colorPicker2 = new iro.ColorPicker('#picker2', {
      width: 150,
      color: document.getElementById('color2').value || '#ffffff',
      layout: [
      { component: iro.ui.Wheel },
      { component: iro.ui.Slider, options: { sliderType: 'value' } }
      ]
    });
    var colorPicker3 = new iro.ColorPicker('#picker3', {
      width: 150,
      color: document.getElementById('color3').value || '#ffffff',
      layout: [
      { component: iro.ui.Wheel },
      { component: iro.ui.Slider, options: { sliderType: 'value' } }
      ]
    });
    var fontColorPicker = new iro.ColorPicker('#font_picker', {
      width: 150,
      color: document.getElementById('font_color').value || '#ffffff',
      layout: [
      { component: iro.ui.Wheel },
      { component: iro.ui.Slider, options: { sliderType: 'value' } }
      ]
    });

    // Center pickers in their containers
    document.querySelectorAll('#picker1, #picker2, #picker3, #font_picker').forEach(function(picker) {
      picker.style.display = 'flex';
      picker.style.justifyContent = 'center';
      picker.style.alignItems = 'center';
    });

    // Helper to sync picker and input
    function syncPickerWithInput(picker, inputElem) {
      // Update picker when input changes
      inputElem.addEventListener('input', function() {
      // Only update picker if input matches # + 6 hex characters or just 6 hex characters
      let val = this.value;
      if (/^[0-9A-Fa-f]{6}$/.test(val)) {
        val = '#' + val;
      }
      if (/^#[0-9A-Fa-f]{6}$/.test(val)) {
        picker.color.hexString = val;
      }
      });
      // Update input when picker changes
      picker.on('color:change', function(color) {
      inputElem.value = color.hexString;
      });
    }

    syncPickerWithInput(colorPicker1, document.getElementById('color1'));
    syncPickerWithInput(colorPicker2, document.getElementById('color2'));
    syncPickerWithInput(colorPicker3, document.getElementById('color3'));
    syncPickerWithInput(fontColorPicker, document.getElementById('font_color'));

  </script>
{% endblock end_scripts %}