{% extends 'partner-page.html' %}

{% block title_text %}
  <h1>Bluebook practice SAT<sup class="h5">&#174;</sup> score analysis</h1>
  <p>
    Upload your results from a practice test to get a more detailed score analysis than the College Board provides.
  </p>
{% endblock title_text %}

{% block form_content %}
  {% include '_sat-report-form.html' %}
{% endblock form_content %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sat-report-form.js') }}"></script>
{% endblock end_scripts %}