{% extends 'partner-page.html' %}

{% block title_text %}
  <div class="row gx-5 justify-content-center">
    <div class="col-12 col-sm-11 text-center">
      {% include '_act-report-intro.html' %}
    </div>
  </div>
{% endblock title_text %}

{% block form_content %}
  <!-- <button class="btn" data-bs-toggle="modal" data-bs-target="#answer-img-modal">Instructions</button> -->
  {% include '_act-report-form.html' %}
{% endblock form_content %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/act-report-form.js') }}"></script>
{% endblock end_scripts %}