{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-3 semibold d-inline-block">Organizations</h2>
  <a href="{{ url_for('admin.new_org') }}" class="btn sm ms-4 mb-3">Add</a>
  <a href="https://docs.google.com/spreadsheets/d/{{ sat_template_id }}" class="ms-4 mb-3" target="_blank">View SAT Template</a>
  <a href="https://docs.google.com/spreadsheets/d/{{ act_template_id }}" class="ms-4 mb-3" target="_blank">View ACT Template</a>

  <div id="orgAccordion" class="accordion">
    {% for org in organizations %}
      <div class="accordion-item">
        <div class="accordion-header">
          <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#org-{{ loop.index }}" type="button">
            {{ org.name }}
            {% if org.is_private %}
              <span class="ms-3" title="Partner login required">
                <img style="height: 1.5rem;" src="{{ url_for('static', filename='img/lock.svg') }}">
              </span>
            {% endif %}
          </h2>
          <a href="{{ url_for('admin.delete_org', org_slug=org.slug) }}" class="delete-link ms-2 text-danger fw-bold" onclick="return confirm('Are you sure you want to delete this organization?');">×</a>
        </div>

        <div id="org-{{ loop.index }}" class="accordion-collapse collapse p-2 pt-1" data-bs-parent="#orgAccordion">
          <div class="accordion-body">
            <a href="{{ url_for('admin.org_settings', org=org.slug) }}" class="me-5">Settings</a>
            <a href="{{ url_for('main.partner_page', org=org.slug) }}" class="me-5">View page</a>
            {% if org.sat_spreadsheet_id %}
              <a href="https://docs.google.com/spreadsheets/d/{{ org.sat_spreadsheet_id }}" class="me-5" target="_blank">SAT spreadsheet</a>
            {% endif %}
            {% if org.act_spreadsheet_id %}
              <a href="https://docs.google.com/spreadsheets/d/{{ org.act_spreadsheet_id }}" class="me-5" target="_blank">ACT spreadsheet</a>
            {% endif %}
            {% if org.partner %}
              <a href="{{ url_for('admin.edit_user', id=org.partner.id) }}">{{ org.partner.first_name }} {{ org.partner.last_name }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock end_scripts %}