{% extends 'base.html' %}

{% block head %}
  {{ super() }}

  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock head %}

{% block container %}
  <div class="row text-center justify-content-center mt-4 mb-3">
    <div class="d-flex justify-content-center col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7">
      <div class="logo-container">
        <a href="{{ url_for('main.partner_page', org=organization['slug']) }}">
          <img class="partner-logo" src="{{ url_for('static', filename=organization['logo_path']) }}">
        </a>
      </div>

      <img class="plus-icon" src="{{ url_for('static', filename='img/plus.svg') }}">

      <div class="logo-container">
        <img id="opt-partner-logo" class="partner-logo" src="{{ url_for('static', filename='img/logo-header-green.png') }}">
      </div>
    </div>
    {% if current_user and current_user.is_admin %}
      <div class="col-12">
        <p class="text-center">
          <a href="{{ url_for('admin.org_settings', org=organization['slug']) }}">Org settings</a>
        </p>
      </div>
    {% endif %}
  </div>

  {% block body %}
    <div class="row justify-content-center mt-3 mt-lg-5 text-center text-lg-start">
      <div class="col-11 col-lg-6 ps-xl-3 pe-5">
        <h1>Get your practice test score analysis</h1>
        <p>
          Upload your results from a practice test to get a more detailed and useful score analysis than the official score reports.
        </p>

        <div class="">
          <a href="{{ url_for('main.custom_sat_report', org=organization['slug']) }}" class="btn d-inline-block w-auto mx-2 ms-lg-0 me-lg-3">Practice SAT<sup class="">&#174;</sup> analysis</a>
          <a href="{{ url_for('main.custom_act_report', org=organization['slug']) }}" class="btn d-inline-block w-auto mx-2 mx-lg-0">Practice ACT<sup class="">&#174;</sup> analysis</a>
        </div>
      </div>

      <div class="col-12 col-md-10 col-lg-5 mt-3 mt-lg-0">
        {% include "_sat-sample.html" %}
      </div>
    </div>
  {% endblock body %}
{% endblock container %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

{% block end_scripts %}
  <script>
    const font_color = '{{ organization.font_color }}'
    const color1 = '{{ organization.color1 }}'
    const color2 = '{{ organization.color2 }}'
    const color3 = '{{ organization.color3 }}'
    const color1_contrast = '{{ organization.color1_contrast }}'
    const color2_contrast = '{{ organization.color2_contrast }}'
    const color3_contrast = '{{ organization.color3_contrast }}'
    document.documentElement.style.setProperty('--font-color', font_color);
    document.documentElement.style.setProperty('--color1', color1);
    document.documentElement.style.setProperty('--color2', color2);
    document.documentElement.style.setProperty('--color3', color3);
    document.documentElement.style.setProperty('--color1-contrast', color1_contrast);
    document.documentElement.style.setProperty('--color2-contrast', color2_contrast);
    document.documentElement.style.setProperty('--color3-contrast', color3_contrast);
  </script>
{% endblock end_scripts %}

