{% extends 'base.html' %}

{% block head %}
  {{ super() }}

  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock head %}

{% block container %}
  <div class="row text-center justify-content-center">
    <div class="d-flex mt-4 mb-3 justify-content-center col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7">
      <div class="logo-container">
        <a href="{{ url_for('main.partner_page', org=organization['slug']) }}">
          <img class="partner-logo" src="{{ url_for('static', filename=organization['logo_path']) }}">
        </a>
      </div>
        <img class="plus-icon" src="{{ url_for('static', filename='img/plus.svg') }}">
      <div class="logo-container">
        <img id="opt-partner-logo" class="partner-logo" src="{{ url_for('static', filename='img/logo-header-green.png') }}">
      </div>
    </div>
    {% block title_text %}
      <h1>Get your practice test score analysis</h1>
      <p>
        Upload your results from a practice test to get a more detailed and useful score analysis than the official score reports.
      </p>
    {% endblock title_text %}
  </div>

  {% block form_content %}
    <div class="row justify-content-center">
      <div class="text-center">
        <a href="{{ url_for('main.custom_sat_report', org=organization['slug']) }}" class="btn d-inline-block w-auto mx-4">Practice SAT<sup class="">&#174;</sup> analysis</a>
        <a href="{{ url_for('main.custom_act_report', org=organization['slug']) }}" class="btn d-inline-block w-auto mx-4">Practice ACT<sup class="">&#174;</sup> analysis</a>
      </div>
    </div>
  {% endblock form_content %}
{% endblock container %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

