{% extends 'base.html' %}

{% block head %}
  {{ super() }}

  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock head %}

{% block container %}
  {% block header %}
    <div class="text-center">
      <div class="row justify-content-center my-4">
        <div class="col-5 col-sm-3">
          <img style="width:255px" class="school-logo" src="{{ url_for('static', filename=organization['logo_path']) }}">
        </div>
        <div class="col-2 d-flex">
          <img class="plus-icon" src="{{ url_for('static', filename='img/plus.svg') }}">
        </div>
        <div class="col-5 col-sm-3">
          <img style="width:277px" class="school-logo" src="{{ url_for('static', filename='img/logo-header-green.png') }}">
        </div>
      </div>
      <h1>Bluebook practice SAT<sup class="h5">&#174;</sup> score analysis</h1>
      <p>
        Upload your results from a practice test to get a more detailed score analysis than the College Board provides.
      </p>
    </div>
  {% endblock header %}

  {% block form_content %}
    <div class="row mt-4">
      <a href="{{ url_for('custom_sat_report', slug=organization['slug']) }}" class="btn d-inline-block w-auto">Practice SAT<sup class="">&#174;</sup> analysis</a>
      <!-- <a href="{{ url_for('custom_act_report', slug=organization['slug']) }}" class="btn d-inline-block w-auto">Practice ACT<sup class="">&#174;</sup> analysis</a> -->
    </div>
  {% endblock form_content %}
{% endblock container %}

{% block footnote %}
  {% include "_disclaimer.html" %}
{% endblock footnote %}

