{% extends 'base.html' %}

{% block content %}
  <h1>Bluebook practice SAT<sup class="h5">&#174;</sup> score analysis</h1>
  <p>
    Upload your results from a practice test to get a more detailed score analysis than the College Board provides.
  </p>

  <button id="toggle-instructions" class="btn">Show instructions</button>

  <div id="instructions" class="hidden-block">
    <h3>Download Score Report PDF</h3>
    <ol>
      <li>Log in at <strong><a href="https://mypractice.collegeboard.org" target="_blank">mypractice.collegeboard.org</a></strong></li>
      <li>Click on the "Score Details" button for the test you want to analyze</li>
      <li>Click "Download Score Report" at top of the page</li>
    </ol>
    <video src="{{ url_for('static', filename='media/report.webm') }}" controls></video>
    <h3 class="mt-3">Save Score Details page as PDF</h3>
    <ol>
      <li>Scroll down to answers table and click "All" to show all answers</li>
      <li>Ensure that the window is wide enough that "Reading and Writing" displays on one line</li>
      <li>Click "File > Print..." in your browser</li>
      <li>Change the destination to "Save as PDF"</li>
      <li>Click "Save"</li>
    </ol>
    <video src="{{ url_for('static', filename='media/details.webm') }}" class="mb-3" controls></video>
  </div>

  <form action="" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center mt-3">
      <div class="col-12 col-lg-6">
        {{ form.hidden_tag() }}
        {{ form.first_name }}
      </div>
      <div class="col-12 col-lg-6">
        {{ form.last_name }}
      </div>
      <div class="col-12 col-lg-6">
        {{ form.email }}
      </div>
      <div class="col-12 col-lg-6">
        {{ form.spreadsheet_url }}
      </div>
      <div class="col-12 col-lg-6">
        {{ form.report_file.label(class='mt-2') }}
        {{ form.report_file(accept='.pdf') }}
      </div>
      <div class="col-12 col-lg-6">
        {{ form.details_file.label(class='mt-2') }}
        {{ form.details_file(accept='.pdf') }}
      </div>
      <div class="col-12 text-center mt-2">
        {{ hcaptcha }}
        {{ form.submit(class="sec") }}
      </div>
    </div>
  </form>
  <div class="loading-screen">
    <div class="loader">
      <div class="loading">
      </div>
    </div>
    <div class="loading-message">Verifying your uploaded files...</div>
  </div>
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => {
      element.style.transition = "height 1.5s ease"; // Adjust the duration here
      element.style.height = `${element.scrollHeight + 20}px`;
      document.getElementById("toggle-instructions").innerText = "Hide instructions";
    };

    const slideUp = element => {
      element.style.transition = "height 1s ease"; // Adjust the duration here
      element.style.height = 0;
      document.getElementById("toggle-instructions").innerText = "Show instructions";
    };

    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("toggle-instructions").addEventListener("click", function () {
        const instructions = document.getElementById("instructions");
        if (instructions.style.height === "0px" || instructions.style.height === "") {
          slideDown(instructions);
        } else {
          slideUp(instructions);
        }
      });
    });

    // Disable submit button on form submit and show loading screen
    const form = document.querySelector('form');
    const submitButton = form.querySelector('input[type=submit]');
    form.addEventListener('submit', function() {
      window.setTimeout('this.disabled=true',0);
      document.querySelector('.loading-screen').style.display = 'block';
    });
  </script>

  <script src="https://unpkg.com/bowser"></script>
  <script>
    var browser = bowser.getParser(window.navigator.userAgent);
    var browserName = browser.getBrowserName().toLowerCase();
    var isChrome = browser.isBrowser('Chrome');
    var isFirefox = browser.isBrowser('Firefox');
    var isSafari = browser.isBrowser('Safari');
    var isEdge = browser.isBrowser('Microsoft Edge');
    var isIE = browser.isBrowser('Internet Explorer');

    // Use the browser variables to conditionally execute code or display messages
    if (isChrome) {
      // Code for Chrome browser
    } else if (isFirefox) {
      // Code for Firefox browser
    } else if (isSafari) {
      // Code for Safari browser
    } else if (isEdge) {
      // Code for Microsoft Edge browser
    } else if (isIE) {
      // Code for Internet Explorer browser
    } else {
      // Code for other browsers
    }
  </script>
{% endblock end_scripts %}