{% extends "base.html" %}

{% block title %}
  Sean Palermo - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="profile-pic-container"><img class="profile-pic" src="{{ url_for('static', filename='img/team/sean.jpg') }}"></div>
      <h1 class="text-center mb-4 mt-2">Meet Sean Palermo</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h4 fw-bold me-1">Hello! My name is Sean,</span>
        and I'm a former private school teacher and child behavioral therapist
        specializing in autism, ADD, and learning differences such as dyslexia and
        dysgraphia. After publishing my thesis in pediatric psychiatry and graduating from
        Yale University with a Master of Epidemiology and Public Health, I became a
        behavioral therapist and private instructor for children with autism. At the same
        time, I began work in community outreach with a focus on K-12 education in
        low-income areas.
      </p>
      <p>
        These experiences gave me an appreciation for the value of mentorship and the
        power of education to open doors and change lives. For the past 15 years, I have
        been partnering with public and private schools alike to design SAT/ACT curricula,
        train instructors, and lead classes in an effort to help students from all walks
        of life achieve their academic goals. When I'm not teaching, I enjoy writing,
        hiking, and astrophotography.
      </p>

      <h2 class="mt-2">Subjects covered</h2>
      <p>
        SAT, ACT, PSAT, GRE, GMAT, HSPT, ISEE, SSAT, SHSAT, Biology, Chemistry, Physics,
        Pre-Algebra, Algebra I, Algebra II/Trigonometry, Statistics, Pre-Calculus,
        Calculus, Language and Composition, English Literature, Writing and Grammar,
        College Essay Writing.
      </p>
      <div class="text-center mt-4">
        <a href="{{ url_for('index', _anchor='contact') }}" class="btn">Get in touch</a>
      </div>
    </div>
  </div>
{% endblock content %}
