{% extends "base.html" %}

{% block title %}
  Sean Palermo - Open Path Tutoring
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <img class="profile-pic" src="{{ url_for('static', filename='img/sean.webp') }}">
      <h1 class="text-center mb-4 mt-2">Meet Your Tutor</h1>
    </div>      
  </div>

  <div class="row">
    <div class="col">
      <p>
        <span class="h4 fw-bold me-1">Hello! My name is Sean Palermo.</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora deleniti itaque repudiandae, facilis officiis similique commodi maxime repellendus unde at excepturi cumque saepe dicta ducimus a aut consequuntur pariatur quas!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, quae? Optio id laboriosam, ducimus rerum est dolores veniam laborum sunt nesciunt, hic debitis unde ea et voluptatibus esse sint quidem?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illum expedita totam in sunt dolores modi numquam quas maiores molestiae corporis nostrum, quibusdam minus. Cum itaque aut a ipsa voluptas!
      </p>

      <h2 class="mt-2">Education</h2>
      <ul>
        <li class="m-2"></li>
      </ul>
      <h2 class="mt-2">Interests</h2>
      <ul>
        <li class="m-2"></li>
        <li class="m-2"></li>
      </ul>
    </div>
  </div>
  
  <div class="row text-center mt-3">
    <div class="col">
      <button class="btn lead" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/intro?hide_event_type_details=1&primary_color=8c90ed'});return false;">
        Schedule a free trial session
      </button>
      <a href="{{ url_for('index', _anchor='contact') }}" class="btn clr sm">
        Get in touch
      </a>
    </div>
  </div>
{% endblock content %}
