{% extends "base.html" %}

{% block container %}
  <div class="mt-4 row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="mb-2">
        <a href="{{ url_for('new_student') }}" class="mb-4 me-2 btn">+ Add student</a>
      </div>


<!-- {#      <form id="add-student-form" class="hidden-block" action="" method="post">
        <h2 class="mb-3 me-2 d-inline-block">Add student</h2>
        <a id="hide-form" href="#">Hide</a>

        {{ form.hidden_tag() }}
        {{ form.student_name }}
        {{ form.student_last_name(onchange="update()") }}
        {{ form.student_email }}
        {{ form.location }}

        <div id="tz-container">
          <select id="tz-select">
            <option value="">Timezone</option>
            <option value="America/Los_Angeles">Pacific</option>
            <option value="America/Denver">Mountain</option>
            <option value="America/Chicago">Central</option>
            <option value="America/New_York">Eastern</option>
          </select>
          {{ form.timezone }}
        </div>
        <div class="my-2">
          {{ form.grad_year }}
        </div>
        {{ form.parent_id(class="my-2") }}
        <div id="new-parent-info">
          {{ form.parent_name }}
          {{ form.parent_last_name }}
          {{ form.parent_email }}
          {{ form.secondary_email }}
        </div>

        {% for t in tests %}
          <div class="row mt-4 g-0">
            <h3 class="mb-1">{{ t.upper() }} dates:</h3>
            <div class="d-flex flex-wrap">
              {% for d in upcoming_dates %}
                {% if d.test == t %}
                  <div class="test-date my-1">
                    <label for="td-{{ d.id }}" class="text-nowrap">
                      {{ d.date.strftime('%B %-d') }}
                    </label>
                    <select id="td-{{ d.id }}" name="test_dates">
                      <option value="{{ d.id }}-none">--</option>
                      <option value="{{ d.id }}-interested">Interested</option>
                      <option value="{{ d.id }}-registered">Registered</option>
                    </select>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="row my-4">
          <div class="col">
            <h4>Tutor:</h4>
            {{ form.tutor_id }}
          </div>

          <div class="col">
            <h4>Status:</h4>
            {{ form.status }}
          </div>
        </div>
        {{ form.submit }}
      </form>
#} -->
      <div id="student-list" class="accordion no-decoration">
        {% for status in statuses %}
          <div class="accordion-item">
            <div class="accordion-header">
              <h2 class="accordion-button {% if status == 'inactive' %} collapsed {% endif %}" data-bs-toggle="collapse"
                data-bs-target="#{{ status }}-list" type="button">
                {{ proper(status) }} students
              </h2>
            </div>

            <div id="{{ status }}-list" class="accordion-collapse collapse
              {% if status != 'inactive' %} show {% endif %}">
              <div class="accordion-body">
                <div class="row mb-1 semibold text-nowrap overflow-hidden">
                  <div class="col-2">
                    First
                  </div>
                  <div class="col-2">
                    Last
                  </div>
                  <div class="col-3">
                    Email
                  </div>
                  <div class="col-2">
                    Parent
                  </div>
                  <div class="col-3">
                    Parent email
                  </div>
                </div>

                {% for s in students %}
                  {% if s.status == status %}
                    <div class="row student text-nowrap">
                      <div class="col-2">
                        <a href="{{ url_for('admin.edit_user', id=s.id) }}">
                          {{ s.first_name }}
                        </a>
                      </div>
                      <div class="col-2">
                        <a href="{{ url_for('admin.edit_user', id=s.id) }}">
                          {% if s.last_name != '' %}
                            {{ s.last_name }}
                          {% else %}
                            [None]
                          {% endif %}

                        </a>
                      </div>
                      <div class="col-3">
                        <a href="mailto:{{ s.email }}" target="_blank">
                          {{ s.email }}
                        </a>
                      </div>
                      <div class="col-2">
                        {% if s.parent_id %}
                          <a href="{{ url_for('admin.edit_user', id=s.parent_id) }}">
                            {{ s.parent.first_name }}
                          </a>
                        {% endif %}
                      </div>
                      <div class="col-3">
                        {% if s.parent_id %}
                          <a href="mailto:{{ s.parent.email }}" target="_blank">
                            {{ s.parent.email }}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight + 20}px`;
    const slideUp = element => element.style.height = 0;

    document.getElementById("add-student").addEventListener("click", function () {
      this.parentElement.style.display = "none";
      slideDown(document.getElementById("add-student-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-student").parentElement.style.display = "block";
    });

    function update() {
      let updateValue = document.getElementById('student_last_name').value;
      document.getElementById("parent_last_name").value = updateValue;
    }

    document.getElementById('parent_id').addEventListener('change', function() {
      if(this.value == 0) {
        document.getElementById('new-parent-info').style.display = 'block';
      }
      else {
        document.getElementById('new-parent-info').style.display = 'none';
      }
    });
  </script>

  <script>
    // Get references to the select and text field
    const selectElement = document.getElementById('tz-select');
    const timezoneText = document.getElementById('timezone');

    // Add event listener to the select element
    selectElement.addEventListener('change', function() {
      // Get the selected value from the select element
      const selectedValue = selectElement.value;

      // Update the value of the text field with the selected value
      timezoneText.value = selectedValue;
    });
  </script>
{% endblock end_scripts %}
